[2013-08-27 21:04] squarefeet opened #1 "Zero particle size"
A `sizeEnd` value of -1 is required to get particles to shrink to 0 size.

[2013-08-27 21:08] squarefeet opened #2 "Variable timesteps"
Using a variable timestep (rather than fixed) causes pauses in the emitter (to be expected).

What isn't expected is that these pauses (if occurring during the first 'cycle') continue throughout an emitters lifetime.

[2013-08-27 21:09] squarefeet opened #3 "Particle speeds"
Particle speeds are currently calculated as a percentage of the maximum age of the emitter. These need to be decoupled.

[2013-08-27 21:59] #3 closed, assigned to nobody

[2013-08-27 22:32] #1 closed, assigned to squarefeet

[2013-09-01 21:38] #2 closed, assigned to squarefeet

[2013-09-05 00:18] stemkoski opened #5 "Thoughts on "dead" emitters and recycling"
I've been thinking about using this new and improved particle engine in a game, to create explosions when objects are destroyed.

(1) I noticed that for emitters with a maximum age, after that age is reached, the alive field is set to false and the age is reset to 0 so it is "ready to go again if required".  How should a particular emitter be restarted?  I naively tried something along the lines o

[2013-09-05 15:03] #5 closed, assigned to nobody

[2013-09-05 19:59] stemkoski opened #7 "resetParticle velocity for sphere emitter incorrect"
I think that for a spherical emitter, particles should be moving away from the center of the emitter, so the calculation of the particle velocity depends on the position of the particle.  However, in the _resetParticle function in ShaderParticleEmitter, only positions are recalculated -- it seems that particles are reusing their previous velocity value.

I'm not sure how this should best be fixed

[2013-09-12 21:02] #7 closed, assigned to nobody

[2013-09-15 19:46] danni-san opened #11 "change emitter velocity"
Hi,

I tried to change the velocity on a running emitter.
Changing the position or particlesPerSecond works, e.g.:

particleGroup.emitters[0].position.add(new THREE.Vector3(11,15,10));

But velocity/velocitySpread/size wont take the changes.

I tried to break down the code and it looks like the velocity is created on addEmitter, but I cant figuere out why position change works buw velocity dont.

[2013-11-16 09:18] DelvarWorld opened #13 "Way to remove particle emitters"
Currently looks like there's no way to remove particle emitters?

[2013-11-25 08:58] AndrewRayCode opened #14 "No way to rotate particles?"
I don't see any instance of rotate nor spin in the documentation

[2014-01-07 08:29] AndrewRayCode opened #15 "install jshint and fix jshint errors"
for example, parseInt is the one that takes a radix, not parseFloat, smartypants

[2014-01-09 07:34] AndrewRayCode opened #18 "Discussion of coding convention issues"
Suggest adhering to a more or less 80 column guideline

The type checking of parameters might be overkill and lead to silent failures and confusing users when it ignores their input:

[code]

Could be simply

[code]

The current way is not the threejs way, which also does no type checking ( https://github.com/mrdoob/three.js/blob/master/src/lights/Light.js#L10 )

This style (while entirely persona

[2014-01-13 07:49] #15 closed, assigned to nobody

[2014-01-13 07:49] AndrewRayCode opened #19 "Fix speed / velocity on dev"
The speed / velocity setting on dev seems to be a bit off, particles are being sucked into the center of emitters I create

[2014-01-13 15:22] #14 closed, assigned to nobody

[2014-01-15 13:26] #19 closed, assigned to nobody

[2014-01-15 13:26] #18 closed, assigned to nobody

[2014-01-18 20:50] squarefeet opened #20 "Option Parsing Ideas"
This is a dedicated issue for a subject that was started in #18: the type checking of options.

What are people's thoughts on this (@stemkoski and @delvarworld in particular)?

There are a few ways we could do this:
- Keep it as it is.
- Keep it as it is but throw errors or warnings whenever an option is invalid.
- Use an 'extend' method to copy whatever is passed as options to the group or emitte

[2014-01-18 21:32] squarefeet opened #21 "ShaderParticleUtils"
Since there are quite a few functions shared between ShaderParticleGroup and ShaderParticleEmitter, I've been experimenting with putting these functions into a shared object, currently called ShaderParticleUtils. Each one of these functions is then attached the to *Group and *Emitter prototype objects. It's nice and DRY.

I think this is a good route to go down, but my question is about whether th

[2014-01-18 21:54] #11 closed, assigned to squarefeet

[2014-01-21 22:27] movitto opened #22 "Spiral Emitter Type"
Hey thanks for the great library, I've already put it to good use to render star dust in a space sim I'm building:

https://github.com/movitto/omega/commit/7956c17d3da6620b3f8929a9274280f67312b880

I'm now working on creating an emitter to generate galaxy graphics and figure I'd reach out. To do so I'm relying on the density wave theory as explained here:

http://beltoforion.de/galaxy/galaxy_en.ht

[2014-01-22 07:04] AndrewRayCode opened #23 "What is the difference between speed and velocity?"
Request to remove one, or better document both

[2014-01-22 11:00] #23 closed, assigned to nobody

[2014-01-23 09:15] AndrewRayCode opened #28 "Feature request: Particle gravity wells"
After looking at the first video on http://gamedevelopment.tutsplus.com/tutorials/make-a-neon-vector-shooter-in-xna-particle-effects--gamedev-10111 - particle gravity emitters with definable positions, strengths, and radiuses of influence would be AWESOME.

So would the ability to define simple collision planes (but that may be a bit too much)

[2014-01-23 10:22] AndrewRayCode opened #29 "angleAlignVelocity assumes emitter is at origin"
if your emitter is not at origin the angular align points to the origin, not the emitter. Heyo @stemkoski

[2014-01-23 13:35] movitto opened #30 "Thoughts on alternative tick"
Correct me if I'm off but from what I gather the Emitter#tick operation will reset vertices and create vertices independently of one another. eg the maximum particle buffer size is computed based on age and emitter count before hand and on each run the vertices that are no longer alive are reset after which a number of vertices determined by the count and interval duration are created.

Would it b

[2014-01-24 06:56] AndrewRayCode opened #32 "Do we really need a shaderparticlegroup?"
Another api discussion.

As a user, all I want to do is create an emitter, let it do its thing, and then destroy it. Is it necessary to have a ShaderParticleGroup for every single one?

What is the benefit of having one group and multiple emitters? This is something I am unclear about. Do we get shared geometry or something similar?

[2014-01-24 09:09] AndrewRayCode opened #34 "Getting around the 16 attributes"
It seems that dev is out of room when I try to add new properties:

`ERROR: Implementation limit of 16 MAX_VERTEX_ATTRIBS (e.g., number of generic plus conventional active vec4 attributes) exceeded, shader uses up to vec4 attribute 16.`

Could we implement a clever solution, like pass in some values as vectors, arrays or matricies? Squashing colorStart, colorMiddle, colorEnd into one mat3 for 3 co

[2014-01-24 09:31] AndrewRayCode opened #35 "Shader sprite animations"
I'm taking some inspiration from this page: http://webglsamples.googlecode.com/hg/sprites/index.html

I have made some progress here: http://andrewray.me/shader-animation (ignore the bubble stuff, this is my test bed)

The commit for that is here, which contains some of the modifications i'm making to this library: https://github.com/DelvarWorld/Big-Bubble/commit/1adcb9c9abe5dda1728418d464626341ec

[2014-01-24 10:31] #32 closed, assigned to nobody

[2014-01-29 00:36] #21 closed, assigned to nobody

[2014-01-29 00:36] #34 closed, assigned to nobody

[2014-01-29 00:37] #30 closed, assigned to nobody

[2014-02-04 11:07] squarefeet opened #36 "Possible increase in memory usage"
A continuation of @movitto's points on increased memory usage in FF with the latest release from issue #22.

[2014-02-04 11:07] #22 closed, assigned to nobody

[2014-02-13 11:15] Usnul opened #37 "particle vector fields"
http://www.unrealengine.com/files/misc/The_Technology_Behind_the_Elemental_Demo_16x9_(2).pdf
In general, this is a more flexible model, and one which has a good mapping to GLSL (approach is described in the slides on abstract level).

[2014-02-13 11:22] Usnul opened #38 "API"
I couldn't help but notice how fast the API seems to grow, while it's nice to add flexibility, I feel better structure is lacking. Having an explosion of API parameters may help derive performance during initialization of an emitter, but that ultimately is not the bottleneck; unless you are creating/destroying emitters thousands of times each frame, and then you particle system is probably a wrong

[2014-02-26 20:46] AdrienMorgan opened #40 "[Performance] Use spritesheets to allow different particles to use the same texture"
Hi,

This is related to the [sprite sheet animation](https://github.com/squarefeet/ShaderParticleEngine/issues/35) issue but is probably good to mention separately since it is for a different use.

Having different particles share the same texture implies adding UV options such as texture coordinates, width and height.

I'd guess this feature is a subset of spritesheet animation so one would have

[2014-02-26 21:10] AdrienMorgan opened #41 "Support AWP file format (JSON) to benefit from particle effects repository and particle editor"
[EffectHub](http://www.effecthub.com) is a particle effect repository originally destined to Away3D. Anyone can put particle effects in there for the world to use.

They made a pretty good particle editor accessible both online and as an Air app, and a JSON file format, AWP, that is exported out of the editor.

Then they use an AS3 library to translate this and plug the effect into Away3D at runti

[2014-03-16 18:09] ForestKatsch-Archive opened #42 ""Alive" should represent the fraction of particles that are emitted"
`particleEmitter.alive` should (conceptually) represent the fraction of particles that are emitted; if `alive` is 0.5, the number of emitted particles should be cut in half. Does this seem like a good idea? Is it hard to implement?

(Reason: rocket engines do not have an "on/off" switch; they have variable thrust, and I'd like to change the number of particles as a result.)

[2014-03-17 20:21] #42 closed, assigned to squarefeet

[2014-03-17 20:22] #41 closed, assigned to nobody

[2014-04-06 02:41] #36 closed, assigned to nobody

[2014-04-14 12:24] cihadturhan opened #43 "Visualization of probability density of Hydrogen atom"
I remembered my old quantum mechanics course and realized it would be nice to visualize probability density of He atom. Maybe we can add it to the demos section. This is how it looks like in [2D](http://upload.wikimedia.org/wikipedia/commons/e/e7/Hydrogen_Density_Plots.png) There is an [old java applet](http://www.falstad.com/qmatom/), see how it looks.

Now, what I will do is pretty straightforwa

[2014-04-17 18:15] #43 closed, assigned to nobody

[2014-04-19 12:10] cihadturhan opened #44 "Extending defaults with a helper function"
I wonder why are we extending default options [here](https://github.com/squarefeet/ShaderParticleEngine/blob/master/src/ShaderParticleEmitter.js#L22-L126) with so long way

How about if we define an extend function

[code]

and then use it like how jquery does

[code]

So, would it be a cleaner approach and easy to read ?

[2014-05-19 22:42] cihadturhan opened #47 "3D Music Visualizer"
I've found a guy on youtube which very cool 3D Music Visualizer using particle dynamics.

If you look [first](http://youtu.be/fpViZkhpPHk) and [fourth](http://www.youtube.com/watch?v=fpViZkhpPHk&t=1m52s) one, it seems very doable with this library.

However, I'm not sure how to make particles behaves like smoke as you see in examples. Any ideas how to make it possible?

[2014-05-20 12:48] Usnul opened #48 "API and bugs"
So I really like the idea of putting GPU to work on those particles, so I love what this project is trying to do. That being said, I'm having mixed feelings about it's usability for anything semi-realistic in terms of use-cases. I'm writing a wrapper around this library for my purposes, and I couldn't figure out why an emitter i add to the group doesn't show up - looking into the code it's obvious

[2014-05-21 01:41] movitto opened #49 "<1 particles per second"
Hey what were your thoughts on supporting emitters that emit fewer that 1 particles per second. The current Group#addEmitter implementation defines particles per second like so (when duration isn't specified):

emitter.particlesPerSecond = emitter.particleCount / that.maxAge | 0

When particleCount > maxAge (eg more than one particle per second) the bitwise-or clears the decimal / rounds the pps d

[2014-06-12 13:14] squarefeet opened #50 "Rewrite/v2.0 General Discussion Thread"
Following incredibly valid points from @usnul and @cihadturhan, in order to get this library into the state that it deserves, a rewrite would appear to be necessary. This thread is for anyone to add their 2-cents/pennies/other-currency worth of thoughts on improvements, new features, etc. The more critical, the better (IMHO) - that's one of the major ways to ensure the new version is as easy-to-us

[2014-06-14 13:12] #49 closed, assigned to nobody

[2014-08-04 20:10] weiserhei opened #51 "Emitter disappearing with three.js r68"
Hello,
i tried to implement the basic particle emitter example using the latest three.js r68.
I build a demo where the emitter stays in front of the camera and is pointed at it, which only seems to work with r65.

With r68 the emitter is disappearing when moving the camera and pops back in unpredictable.
Any ideas?

![particle](https://cloud.githubusercontent.com/assets/7581732/3820377/2ee53152-1c

[2014-09-05 21:52] swfredrik opened #52 "Change opacity in the render loop"
How to control the opacity of a emitter in my render loop, setting the opacityStart = 0 has no effect,

setting the velocity and acceleration to a new Vector works fine!

[2014-09-17 21:33] #52 closed, assigned to nobody

[2014-10-28 22:58] rohan-deshpande opened #53 "r68 compatibility?"
Hi there, just wondering about the compatibility of this awesome repo with r68, as I get a warning when initialising saying that `THREE.ParticleSystem` has been renamed to `THREE.PointCloud`, I'm guessing this is called within the source by either `SPE.Group` or `SPE.Emitter`. Would it be safe to replace the calls to `THREE.ParticleSystem` constructors?

_Edit_ Welp, looks like THREE handles this

[2014-10-28 23:00] #53 closed, assigned to nobody

[2014-10-29 21:47] #37 closed, assigned to nobody

[2014-10-29 21:47] #20 closed, assigned to nobody

[2014-10-29 21:48] #48 closed, assigned to nobody

[2014-10-29 21:48] #44 closed, assigned to nobody

[2014-10-29 21:48] #40 closed, assigned to nobody

[2014-10-29 21:48] #35 closed, assigned to nobody

[2014-11-03 22:12] morgan-linux opened #54 "Emitter particles tail disappears suddenly on screen border"
Hi,

I'm experiencing some problems with SPE last version.
When my emitter cube is behind the screen border, its tail instantly disappears.

Image is more explicit than a long speech:
 - [Emitter at the screen border](http://i.imgur.com/D2ZaMYB.jpg)
 - [Few pixels later, emitter just behind the border](http://i.imgur.com/CEjmPqR.jpg)

I have another problem with SPE if you're interested : http://s

[2014-11-04 00:36] Usnul opened #55 "bug with culling in Tree.js"
Interesting problem. Culling is done using geometry bounding volume, and that's not computed propely for particle emitters, so if point "x:0, y:0, z:0" is not in camera's view - whole emitter gets culled. Need to address this by using infinite volumes or recomputing volumes every simulation tick (which is probably not practical?)

[2014-11-05 14:46] Usnul opened #56 "Bug: logarithmic zBuffer support"
Here's original topic link:
http://stackoverflow.com/questions/26747759/ugly-render-on-clouds/26748408?noredirect=1#comment42098284_26748408

this bit should fix things:
https://github.com/mrdoob/three.js/blob/1769fbfc6c994b51a54c15a5c096855fd3cb8a1a/src/renderers/shaders/ShaderChunk/logdepthbuf_fragment.glsl

[2014-11-06 20:40] weiserhei opened #57 "Emitter runs out of particles (after update to 0.7.7)"
Hello,
I updated to 0.7.7 today and my smoke emitters doing some crazy stuff now :ghost:

They disappeared, so I checked the new examples and added the time delta to `particleGroup.tick( dt );` which was running without it before. Is this necessary/recommended now?

It led me to another problem, where it looks like the emitter is "running out of particles" after some seconds of emitting. This happ

[2014-11-06 21:37] #57 closed, assigned to nobody

[2014-11-16 17:47] poshaughnessy opened #58 "Adding emitters dynamically after adding the ParticleGroup mesh to the scene"
Hi,

Is it possible to add emitters dynamically after adding a ParticleGroup to the scene? I tried simply doing:

[code]

But it doesn't show up in the scene. Perhaps I have to mark something as dynamic/needsUpdate?

Also I will need to remove them dynamically too... I saw an issue about that (#13) is still open. I can call `particleGroup.removeEmitter(...)` OK, but it just freezes it in the scene

[2014-11-16 18:11] #58 closed, assigned to nobody

[2014-12-05 17:16] stomaticMOT opened #59 "Particles already created on first view"
Hi squarefeet, Is there a way to have the particles already created. I have some smoke particles being created. When a user first visits the page I want the smoke to already be there rather than watch it begin created from nothing. Cheers

[2014-12-08 12:11] #59 closed, assigned to nobody

[2014-12-22 14:57] tong opened #60 "build/ShaderParticle.js still 0.7.7"
js/ShaderParticles.js states version 0.7.7 in comment while js/ShaderParticles.min.js says 0.7.8

[2014-12-22 15:01] #60 closed, assigned to nobody

[2015-01-04 23:38] klebba opened #61 "addEmitter/removeEmitter not working as expected"
This issue reflects the same problem described in #58, which was closed because the author found a workaround. The original problem raised about the behavior of addEmitter and removeEmitter still stands -- these features don't behave the way they are named. Using addEmitter some time after I've added the mesh of my SPE.Group to my scene has no effect; nothing is rendered. Calling removeEmitter jus

[2015-01-31 12:23] jpcloud opened #63 "readme.md unclear on required three.js"
Hi,

Just a quick question/note. The readme.md states:
"This project requires THREE.js revision 58 to revision 65."
Does this mean, that it will not work with THREE.js revisions higher than 65?
(Current stable three.js is rev 70)

If those are just the minimum required version, it should state that.
I am a little confused. (I'll now just try to get it to work with rev 70 :) )

[2015-01-31 13:16] squarefeet commented on #63
You're right... It's not very clear, is it! It should work okay with versions higher than 65, though I haven't tested it myself with anything higher than rev 68. I'm not able to test with rev 70 for a while - could I ask you a favour to report back whether it works or not, and if not, what the issues are?

I'll update the README accordingly. Thanks for pointing it out!

[2015-01-31 13:27] jpcloud commented on #63
hi,
as far as I can tell it's working fine with rev 70.

http://i.imgur.com/r6EsmnU.gifv

It's my first time using it, I have taken the example from the readme and modified it a little to somewhat look like a rocket booster. Without recording the frame are at a steady 60 per second.

[2015-01-31 13:28] squarefeet commented on #63
Ah fantastic - thanks for reporting back :)

Will update README. Cheers buddy.

[2015-01-31 13:28] #63 closed

[2015-01-31 13:40] squarefeet commented on #61
Yep, you're spot on here. I've always liked the idea of having these functions, and to be quite honest with you, I regret adding them into ```master```, as they don't work as-advertised. If one knows the internals of THREE.js a little, one could extrapolate as to why this is, but without that information, it's silly them being there, and silly of me to expect everyone using this library knows that

[2015-01-31 13:43] #54 closed

[2015-01-31 13:45] jpcloud opened #64 "typescript definition"
hi,

I am using typescript to create my game.
(Typescript compiles down to javascript and can use typescript definitions to use pure javascript libs such as three.js or the ShaderParticleEngine.)

For three.js there is a definition available at definitelyTyped on github (they gather definitions for libs that don't provide them themself).

I made a minimal ShaderParticle.d.ts definition file, which

[2015-01-31 13:47] squarefeet commented on #64
I think it's a good idea, and one that would sit well with a pull-req I got a while back (IIRC) about adding package support (AMD/require/browserify-kinda stuff).

Could you link me to the definitelyTyped entry for Three.js?

[2015-01-31 13:47] jpcloud commented on #64
Sure, here it is:
https://github.com/borisyankov/DefinitelyTyped/tree/master/threejs

[2015-01-31 13:50] squarefeet commented on #64
Nice one, cheers. I'll take a peek.

[2015-01-31 13:52] squarefeet commented on #64
Ha, that's so foreign to me. If you're up for making a draft version of a definition for this lib, that would be super handy. I've not used TypeScript very much at all, so I'd be best deferring to you with regards to that.

[2015-01-31 14:04] jpcloud commented on #64
The linked file above (http://jppresents.net/static/files/ShaderParticles.d.ts) is actually enough to get up and running with your lib in typescript.

This way typescript knows which classes ShaderParticles offers and what their functions and datatypes are.

Typescript to create group / emitter with this definition looks like this:

        this.particles= new SPE.Group({
            texture: THRE

[2015-01-31 14:25] jpcloud commented on #64
Okay, just noticed when continuing with my game:
all the properties of emitters (an possible groups) will need to be defined in the definition too.
(Just listed with their correct types.)

All the ones, that you are supposed to be able to change after the creation of the emitter. (So they can be accessed on the emitter object in typescript.)

If you tell me where in the repo the file is supposed t

[2015-01-31 14:27] squarefeet commented on #64
I'm so glad you're doing this - I'd be lost in documentation right about now ;)

A new subfolder on `master`'s root would be great... thanks again for doing this.

[2015-02-03 21:39] webtech1980 opened #66 "Particles not scaling as expected"
I might be wrong but it seems that there is an issue with scaling. When I test with the examples things look very different when full screened compared to 1/4 screen. It seems like the particle sizes are not being scaled.

[2015-02-06 04:43] webtech1980 opened #67 "Rotate disk in ShaderParticles.js"
When I add a emitter to my scene with the type of disk it always faces the same direction. Now I have noticed that you can rotate the hole mesh the particle system is applied to but that messes up my position settings. I'm trying to have the disk always face the camera of my three.js scene. Which Is often located at vector{0,0,0}. Any help would be greatly appreciated.

[2015-02-09 04:57] yepnamesjames opened #68 "Can't instantly init all of particleGroup and then keep particles alive"
Hi there,

I've been working on an explosion effect mostly from your pool example, but am running into a timing variables problem. I would like to instantly init all of the particleGroup, but then allow the particles to last for 60 seconds. Right now they last for 60 seconds, but it inits the 1000 particles over all of the 60 seconds. Here is a jsFiddle of my scene (using the jsFiddle logo just fo

[2015-02-23 04:19] #68 closed

[2015-03-16 18:56] titansoftime opened #69 "Looks Like Three.js r71 Broke This"
After upgrading to this new release. This amazing particle engine no longer works =[

More than likely due to: https://github.com/mrdoob/three.js/pull/5805

[2015-03-16 19:10] squarefeet commented on #69
Balls! What's happening? Can't look into it *right* now, but if you let me know what's going on (errors, if any, or just black screen, etc.) then I can have a look later on.

[2015-03-16 19:14] titansoftime commented on #69
Ha, my reaction exactly!

I am at work so I cannot build a test case right now, but I can tell you opacity seems to be broken as well as some fairly psychedelic colors going on.

That PR from three has broken a few custom shader programs I use.

[2015-03-16 19:23] squarefeet commented on #69
Ha, you got me at psychedelics. I've just run the basic example using r71 and it's all sorts of crazy. Thing is, now I've done that, I can't not fix it!

Will let you know if I make any progress :)

[2015-03-16 19:51] squarefeet commented on #69
All fixed. Turned out not to be due to that pull req on THREE.js, but instead down to how this version seems to handle boolean properties in Material instances.

I'll pushed a new release and updated the README. New version is 0.7.9 and is [here](https://github.com/squarefeet/ShaderParticleEngine/releases/tag/Release-0.7.9).

Thanks for letting me know!

[2015-03-16 19:51] #69 closed

[2015-03-16 20:09] titansoftime commented on #69
Ah, badass.

You da man!

[2015-03-17 21:26] titansoftime opened #70 "No Fog Support (or maybe there is and I'm dumb)"
I do not see a way to enable fog. I would do this myself, but shader programming i something that I still suck at.... like bad.

[2015-03-17 21:45] squarefeet commented on #70
I think you should be able to enable fog on the `ShaderMaterial` instance that sits within an `SPE.Group` instance:

[code]

I've not tested this, though. And I'm still assuming that the shader code within THREE.js hasn't changed too much (apart from that pull-req you mentioned before) and that fog is still applied *after* my shader code...

[2015-03-18 00:42] titansoftime commented on #70
After trying this, I added ```fogDensity``` and ```fogColor``` to the shader uniforms (bugged out otherwise).

[code]

elsewhere:
[code]

 It does not seem to work.

[2015-03-18 00:52] squarefeet commented on #70
Hmmmm....

I'll have to take a look at this later, it's past midnight here and sleep is calling. I'll take a look at the docs and source for Fog in THREE.js and see if I can figure something out.

[2015-03-18 00:53] titansoftime commented on #70
Awesome man. Thanks for being on it.

[2015-03-18 00:54] squarefeet commented on #70
No worries. Worst case scenario is that I'll have to add my own fog calculations to the shader, but that should be pretty straightforward.

[2015-03-18 01:09] titansoftime commented on #70
I also use Jbouny's ocean shader and they added fog by adding

[code]

Above the ```void main()```

And

```THREE.ShaderChunk[ "fog_fragment" ],```

right above ```'gl_FragColor = blah;```

in the fragment shader.

This did not work here, but maybe something similar? Anyway that's all I got,

[2015-04-19 21:13] rustinlee commented on #47
That looks to involve quite a bit of fluid dynamics, which is its own subject entirely.

Also:

That many particles interacting as they do will not be possible for you to simulate in real time, let alone in a web browser.

[2015-04-23 19:49] Usnul commented on #66
[code]

ensure you have following in your vertex shader:

[code]

also, make sure scale is in uniforms array:
[code]

[2015-05-11 15:38] Usnul commented on #70
I'd be a bit careful about inserting shader chunks, i've had problems going from r70 to r71 as content of chunks is not frozen across three.js versions it seems. Also, have to be careful about defines. Would be nice to eventually just plug an extra chunk into Three.js particle shader to alter size/color/position from compatibility stand-point.

[2015-05-12 20:45] gaepard commented on #51
Setting the boundingSphere position definitely do the work (ver. 0.7.5)
Thanks Usnul!

[2015-05-18 09:54] weiserhei commented on #51
What Usnul suggested is working fine for me with SPE 0.7.9 and three.js 71, so i can leave frustum culling enabled :)
Thank you all!

[2015-05-18 09:54] #51 closed

[2015-05-28 09:12] RemusMar opened #72 "Particle size and camera FOV"
First of all, congrats for this awesome work.
Now the problem ...
The particles size (on screen) depends on the camera field of view.
This is a known issue, nothing to do about that.
However, if you change the emitter sizeStart and sizeEnd at runtime, you don't get any change on screen.
Example:
you start with camera.fov = 45, sizeStart = 0.5, sizeEnd = 1.0
at runtime you set camera.fov = 22.5, si

[2015-05-28 16:45] RemusMar commented on #72
Well, I found a workaround:

			onParticleSpawn: function( attributes, particleIndex ) {
				attributes.size.value[ particleIndex ].set( 0.4 * zoom, 0.7 * zoom, 1.0 * zoom );
				attributes.size.needsUpdate = true;
			}

But it doesn't work for the already existing particles.
cheers

[2015-05-29 09:39] Usnul commented on #72
Sadly this is quite normal as we're working with a TRHEE.Material here. You have to update materials when you make changes.

Also, this looks to be an anti-pattern. The point of a an engine is to define target states and remove responsibility of transition from the user.

[2015-05-29 09:48] RemusMar commented on #72
Hi Alex,

The main problem is that the ShaderMaterial is embedded into the ShaderParticles.js package
and there is no way to pass the "size" value (sizeStart & sizeEnd) at runtime.
Or maybe I'm missing something here ...

cheers

[2015-05-29 10:00] Usnul commented on #72
You probably don't mean this:
[code]
Emitters aren't supposed to change much. But I see what you mean about embedding.
[code]
Material is exposed via "Group", you can access attributes there, maybe this will help.

[2015-05-29 10:03] RemusMar commented on #72
Here is the "onParticleSpawn":
http://necromanthus.com/Test/html5/testA.html
Take a look at the "steam" and press the right mouse button (a few times).
The result is not bad, but it can be better if the already existing particles would be scaled as well.

cheers

[2015-05-29 10:30] RemusMar commented on #72
var particleEmitter = new SPE.Emitter({
    sizeStart: 10,
    sizeEnd: 0,
});

In fact emitter.sizeStart and emitter.sizeEnd need to be changed at runtime.
You don't want to change the size thousands of times (for every particle).
You need to change the size only once (for the current and upcoming particles).
But this is not possible with the current ShaderParticles.js package.

cheers

[2015-05-29 11:17] RemusMar commented on #72
And here is the best workaround (with perfect results):

				for (var p = 0; p < emitter.attributes.size.value.length; p++) {
					emitter.attributes.size.value[ p ].set( 0.4 * zoom, 0.7 * zoom, 1.0 * zoom );
				}
				emitter.attributes.size.needsUpdate = true;

But you need to change the sizeStart, sizeMiddle & sizeEnd for all the current particles!
Instead of changing those values only once ...

[2015-05-29 13:52] Usnul commented on #72
The reason you wouldn't want to change it at run-time is because of GPU access, re-binding attribute arrays takes some time. I'm not sure how much though. It's not the same as rebuilding shader, but it's not free. Re-binding attributes of single value is also likely to be a lot cheaper than things like large arrays, such as in case of particles we have here. Just a word of caution; if this doesn't

[2015-05-29 14:12] RemusMar commented on #72
Alex,

You miss the main point here.
With that "workaround" I don't get any performances drop for 1500 particles.
Besides, you don't have to run it every frame!
You run it only when camera.fov is changed.

In any case, the solution to all of these is very simple:
- all the emitter.attributes need to be passed at runtime
- inside of the "tick" function: if an emitter parameter was updated, all the

[2015-05-29 17:06] Usnul commented on #72
1500 particles is not much. Maybe fov handling souls be done in shader, that's the gist odd my point. Glad you're problem is solved :)

[2015-05-29 17:14] RemusMar commented on #72
If that's faster and it gives the same good results, I totally agree.
The bottom line:
the users must be able to pass at runtime the particle "size" ( in fact v3(sizeStart, sizeMiddle, sizeEnd) )
to the shader or to the emitter.
And all the current (and upcoming) particles must be updated after that.
But only once!

best regards

[2015-05-29 21:53] squarefeet commented on #72
Hey @RemusMar / @Usnul,

Only just caught up on this (out of the country at the moment).

@Usnul: many thanks for getting involved! As a little aside, v2 of this lib is still floating around in an... *interesting* state, but it does allow for runtime changes at least. One day... One day it will see a release!

@RemusMar: It looks like a solution has been found, but I have to agree that its not ide

[2015-05-29 23:44] Usnul commented on #72
as an aside. @squarefeet put some code up - I will get involved. It'll never be perfect :)

[2015-05-30 07:13] RemusMar commented on #72
Hi Luke,

It sounds like a good idea.

cheers

[2015-05-31 00:36] squarefeet commented on #72
@Usnul: It's been a while since I last looked at it, but I'll have a gander tomorrow and see what state it's in. If it ain't too bad, I'll send you an invite to it so you can hack away as well. If it's a dire mess, I'll tidy it up a little and then do that.

@RemusMar: cool cool - I'll keep you informed on this thread :)

[2015-06-19 15:46] adarshnambiar commented on #72
Hi all, I am really new to using THREE js and Particle Shader . I am currently creating a particle effect using this Shader Particle Engine.I want to change couple of variables during runtime  .I could change particlecount,velocity ,acceleration,type,blending,speed  but could not change colorStart,colorEnd along with startSize,endSize.I saw this thread and would like to ask if its a similiar issue

[2015-06-19 17:43] RemusMar commented on #72
Probably the only workaround is the following:

		for (var p = 0; p < emitter.attributes.colorStart.value.length; p++) {
			emitter.attributes.colorStart.value[ p ].setRGB( 0.3, 0.2, 0.1 );
			emitter.attributes.colorMiddle.value[ p ].setRGB( 0.45, 0.3, 0.15 );
			emitter.attributes.colorEnd.value[ p ].setRGB( 0.6, 0.4, 0.2 );
		}
		emitter.attributes.colorStart.needsUpdate = true;
		emitter.attri

[2015-06-19 19:08] adarshnambiar commented on #72
@RemusMar  : Thanks a lot ..it works for now :) ..appreciate your quick help.

[2015-06-24 22:09] squarefeet commented on #70
@titansoftime I've finally found a little time to spend sprucing up this project, and I've put in Fog support on the `dev` branch. Give it a whirl and let me know of any issues and I'll fix 'em up before I promote to `master`. I've only tested this with three.js r71 so far...

@Usnul You'll probably chastise me for this, but I used THREE's ShaderChunks for this. Since you mentioned `define`s, I mu

[2015-06-24 22:12] squarefeet commented on #67
Ahh, this will be fairly complex to support... I'll stick it in my list of things to experiment with, but I'm afraid there probably won't be anything in the near future unless I hit upon a random bit of inspiration!

I'll definitely keep you updated should I manage to do anything with this.

[2015-06-24 23:35] squarefeet commented on #72
Hi all,

I'm making some decent progress on being able to change parameters at runtime, so hopefully I'll have something in a branch for you to take a look at soon!

[2015-06-25 03:48] titansoftime commented on #70
Ok I tested with 71 and 70

70: No errors but no fog support

71: No particles. Errors:
```THREE.WebGLShader: gl.getShaderInfoLog() ERROR: 0:101: 'square' : no matching overloaded function found ```
```ERROR: 0:101: 'square' : no matching overloaded function found ```
```ERROR: 0:101: 'LOG2' : undeclared identifier ```
```ERROR: 0:102: 'whiteCompliment' : no matching overloaded function found```

[2015-06-25 07:39] Usnul commented on #70
@squarefeet
defines need to be inserted at the head of the shader at some point, three.js does this for you in most cases that it deals with, that's the only concern I really have. Smaller concern would be delegation of something to preprocessor that we could do ourselves, but I don't see that as much of an issue, glsl compiler should be quite performant regardless of platform.
As far as shader ch

[2015-06-25 19:40] squarefeet commented on #70
@titansoftime What GPU do you have?

[2015-06-25 19:49] squarefeet commented on #70
@titansoftime Just pushed a possible fix to `dev` - give it a shot when you get a chance and let me know if it helps.

[2015-06-25 22:29] squarefeet commented on #72
Hi again,

I've pushed a new branch called `runtime` that you're welcome to check out. There's a new example called `runtimeChanging.html` that uses DAT.Gui to let you change parameters at runtime.

I've not done a huge amount of testing across various devices yet, but from what I can tell I've managed to accidentally speed things up ever-so-slightly, so that's never a bad thing.

Let me know if y

[2015-06-25 22:30] squarefeet commented on #72
@Usnul - Just tagging you; if you have a spare sec would you mind giving this a whirl? Cheers buddy :)

[2015-06-26 08:22] RemusMar commented on #72
Well done Luke!
However ... changing at runtime emitter.sizeStart, emitter.sizeMiddle & emitter.sizeEnd works for the UPCOMING particles only.
The size of the current particles is not changed (so they need to "die" to get the right results).

From this point of view, my workaround is still the best solution.
cheers

[2015-06-26 08:32] squarefeet commented on #72
Ah - it wasn't made clear that you wanted immediate updates. I'll think about adding in more direct support for this, that will take care of emitter attribute offsets and whatnot (your solution doesn't do that, so if you have more than one emitter in a group, you'll affect all that group's particles).

[2015-06-26 08:44] RemusMar commented on #72
Luke, it's not about what I want.
Just try to imagine that in some cases the particles do not die at all, so your solution does not work at all.
In my opinion, that loop with emitter.attributes.size.value[ p ].set( ... ); is a the only solution.

http://necromanthus.com/Test/html5/testA.html
Take a look at the "steam" source and press the right mouse button several times.
This is the perfect resul

[2015-06-26 08:57] squarefeet commented on #72
I'm well aware of that; it's just a use case that didn't cross my mind, but my point still applies: your solution doesn't take into account that there may be more than one emitter (with different settings) per group - you update all the attributes for all of a group's emitters with the same values.

I've almost got something in place that will allow you to do what you need.

[2015-06-26 09:12] squarefeet commented on #72
PS. Once I finish this, you'll be able to do this:

    steamEm.sizeStart = 0.4 * zoom;
    steamEm.sizeMiddle = 0.7 * zoom;
    steamEm.sizeEnd = zoom;
    steamEm.attributesNeedUpdate = true; // Forces all attributes to be updated immediately

It's a bit of a mess at the moment (not very DRY!), but I'll refactor it once it's stable and works as expected. Will let you know when the `runtime` bran

[2015-06-26 09:20] RemusMar commented on #72
I don't think you need to update ALL the emitter attributes.
It will run faster with:

			steamEm.attributes.size.needsUpdate = true;

cheers

[2015-06-26 09:28] squarefeet commented on #72
`attributesNeedUpdate` is specific to this library, I just followed the naming convention from THREE.js. It just notifies a few functions in `SPE.Emitter` that all the attributes *that have been changed* for that emitter need to be updated, not just ones that are being respawned.

[2015-06-26 09:37] squarefeet commented on #72
Okay, `runtime` branch is ready for you to pull. There's a fair bit of optimisation and whatnot to do, but it seems to be working as you'd like:

    steamEm.sizeStart = 0.4 * zoom;
    steamEm.attributesNeedUpdate = true;

[2015-06-26 09:49] RemusMar commented on #72
Well done Luke!

Clear the browser history and try again this link:
http://necromanthus.com/Test/html5/testA.html

			steamEm.sizeStart = 0.4 * zoom;
			steamEm.sizeMiddle = 0.7 * zoom;
			steamEm.sizeEnd = zoom;
			steamEm.attributesNeedUpdate = true;
			camera.zoom = zoom;
			camera.updateProjectionMatrix();

cheers

[2015-06-26 09:59] squarefeet commented on #72
So it's all working fine, yeah? No bugs that you've seen?

[2015-06-28 01:56] titansoftime commented on #70
@squarefeet Works perfect. Nice!

[2015-06-29 23:09] #72 closed

[2015-06-29 23:10] #70 closed

[2015-07-14 17:43] webtech1980 commented on #66
Thanks I'll give that a try

[2015-07-14 17:45] webtech1980 commented on #67
Cool thanks.

[2015-07-14 18:02] webtech1980 opened #73 "Issue when camera is positioned at { x:0, y:0, z:0 }"
Hello and thanks for the great particle engine. For some reason when I position my camera at { x:0, y:0, z:0 } the particles are not rendered. This only seems to happen if I'm using the latest version of the particle engine. I have tested with THREE.js r70 and r71.

[2015-07-14 21:55] squarefeet commented on #73
What position are you emitters set to?

[2015-07-15 04:19] webtech1980 commented on #73
It varies. After updating to the new release my particles weren't being rendered. So I stated playing around with the examples you provided. Your basic example has the camera set to camera.position.z = 50 and the emitter at { 0, 0, 0 }. That works fine but if you switch it around and put the emitter at { 0, 0, 50 } and the camera at { 0, 0, 0 } that's when i'm seeing the issue.

[2015-07-15 18:56] squarefeet commented on #73
Ah, found the issue, thanks for letting me know about it - I doubt I would have come across it myself! I've just pushed v0.8.2 that should fix it for you.

[2015-07-15 18:56] #73 closed

[2015-07-22 14:43] AndyTyurin opened #74 "Typescript declaration & npm access"
Hey!

Currently I'm working on my threeJS 2.5D space game and transfering my project to Typescript for easily scaling.
I used shader particle engine and noticed that it hasn't any good declaration file to use it in typescript. Also as I think SPE not published on npmjs.com, it will be great if it would be here.

For now I'm writing my own declaration file for ShaderParticleEngine and want to publi

[2015-07-22 22:50] AndyTyurin commented on #74
Currently under development, but I leave it here https://github.com/AndyTyurin/spe-declaration
=-)

[2015-08-31 03:59] vincent-courtalon opened #75 "compatibility with upcoming R72 of three.js"
Hello, i am not sure if it is really a bug or just a temporary change from R72 dev version of three.js, but using the shaderParticleEngine with it does not work for me (it works with r71 of three.js)
it makes a webgl warning "WARNING: Attribute 0 is disabled. This has signficant performance penalty" on chrome, and the particles are not visible...

if you have any idea of a quick fix (some suggesti

[2015-09-01 05:16] titansoftime commented on #75
In the dev version as of this post I get this error: ``THREE.ShaderMaterial: attributes should now be defined in THREE.BufferGeometry instead.``

[2015-09-15 17:36] titansoftime commented on #75
@squarefeet r72 is now live. Unfortunately (once again) there are no release notes /sigh.

[2015-09-16 13:41] weiserhei commented on #75
Changelog is up :page_facing_up:  https://github.com/mrdoob/three.js/releases/tag/r72

I will also migrate my projects shortly and test SPE with r72.

[2015-09-17 18:24] squarefeet commented on #75
Hey guys, sorry for the delay in getting back to you all.

Going to grab me some r72 action and see how it fairs; will try to resolve any bugs with it should I (probably) come across any.

Thanks for the heads up :)

[2015-09-17 18:30] squarefeet commented on #75
Okay, first problem I can see is that Shader Material seems to only play ball with `THREE.BufferGeometry` instances now (rather than plain ol' `THREE.Geometry` instances, and at least when custom attributes are being used), so I'll jump on that!

[2015-09-17 19:36] titansoftime commented on #75
@squarefeet Awesome! Super happy to see you on this =]

Your hard work is much appreciated. This library kicks ass.

[2015-09-17 19:39] squarefeet commented on #75
@titansoftime Ha, no worries, Walter ;) It may take me a few days to get it up and running (got to convert from Geometry -> BufferGeometry, and don't want to cut any corners), but I'll be playing in the `dev` branch if you feel like coming along for the ride or want to point out I'm going in a stupid direction.

Currently wondering whether I should store all attribute values in a single ArrayBuffe

[2015-09-17 19:44] titansoftime commented on #75
HA! I don't roll on SHABBOS!!

I'm right there with you, not sure. Sorry for my complete uselessness there =]

[2015-09-17 19:46] squarefeet commented on #75
Saturday, Donny, is Shabbos, the Jewish day of rest. That means that I don't work, I don't drive a car, I don't fucking ride in a car, I don't handle money, I don't turn on the oven, and I sure as shit *don't fucking roll*!

[2015-09-17 20:19] titansoftime commented on #75
"I'm calmer than you are."

[2015-10-05 15:54] glibersat commented on #75
thx @squarefeet for having started the port to r72, I can't wait for it to be released! :)

[2015-10-05 18:23] squarefeet commented on #75
@glibersat No worries, sorry it's taking so long - life is getting in the way!

[2015-10-06 23:19] andrislusis commented on #75
indeed thx @squarefeet for the effort, I am on the waiting list for the port as well. :)

[2015-10-07 16:34] squarefeet commented on #75
Okay, should have some free time coming up this week and over the weekend, so will hopefully have something up next week. Will keep this thread updated with progress! Hang tight, and thanks for the patience!

[2015-10-07 16:47] titansoftime commented on #75
Ha, yea I started working on this (more so just playing around to better understand the code) and holy crap. Not an easy task. Your efforts are most certainly appreciated =]

[2015-10-07 16:50] squarefeet commented on #75
Ha, thanks. I reckon if I switch over most of the `utils` functions to work on TypedArrays, that'll make life quite a lot easier, and everything else should fall into place...

Famous last words ;)

What I don't want to do is create a bunch of Vec3s only to use them as storage to place into larger TypedArrays, performance would be terrible; whereas if I work directly on the TypedArray buffer then

[2015-10-07 16:51] titansoftime commented on #75
Ha yea that's exactly what I was doing as a test. Scrapped it as a foreseen waste of a time.

[2015-10-07 16:51] squarefeet commented on #75
And exactly what I started doing, too!

[2015-10-07 16:55] titansoftime commented on #75
Definitely more efficient memory usage. Should help out on the delay of pushing the data to gpu on initial render. Scenes with dynamically loaded particles (mine for example) should benefit big time.

[2015-10-07 16:56] squarefeet commented on #75
Yepyep, finger's crossed. The more I think about this port to r72, the more I want to scrap a lot of the library as it is and start not-quite-from-scratch, rather than bastardise what's here already into working how it wasn't designed to! Experiments ahoy...

[2015-10-07 21:47] squarefeet commented on #75
Throwing this out there for opinions:

Would people using this lib be bothered if I slightly changed the way emitter properties were set?

Current way:

[code]

Potential new way:

[code]

Nothing's set-in-stone yet (as I've not started attacking this bit), so willing to go with general consensus here, and maybe support both options to allow backward compatibility.

Do let me know!

[2015-10-07 22:27] titansoftime commented on #75
I like both new methods over the current. A little bit of rewrite is totally worth it IMO.

The first new option looks really clean. The second option looks less clean but more flexible.

I'd have to side with improved functionality over cleaner code.

That's my 2 cents.

[2015-10-07 22:30] squarefeet commented on #75
The second option could easily just be an array, actually. Less obvious what it's values are representing, though, I guess.

I'm just rather conscious of causing people to rewrite their code! I'm thinking of nicking ideas from an [old v2 of this lib](https://vimeo.com/106543067) (video) I made a while back but never finished...

[2015-10-07 22:33] titansoftime commented on #75
I hear ya.

That video is very impressive. Very cool! I love the collision one as well. Mind blowing work man.

[2015-10-07 22:34] squarefeet commented on #75
Thanks :) The collision was such a PITA. Don't want to revisit that again for a while! I'll see if I can whack CurlNoise support in after I've supported r72.

[2015-10-07 22:35] titansoftime commented on #75
I can only imagine hehe.

[2015-10-07 23:46] squarefeet commented on #75
Started making decent headway on this. Party's on the `dev` branch (where all the good parties are) in a temp folder called `typedSrc`, and is a complete rewrite. Long way to go, but seems to be a good start :)

[2015-10-08 16:34] vincent-courtalon commented on #75
Personally, i am ok with both new version, perferably the one with more fonctionnality.
And thanks again for you're work on this library, it is greatly appreciated. I tried to poke in the code, but it still is a little to much for me for now (for my understanding of three.js internals and webgl shaders), Very interesting.

[2015-10-09 01:23] squarefeet commented on #75
Cheers for the feedback @vincent-courtalon.

I've hit a massive brick wall, and looks like I'll only be able to support a max of 4 values for valueOverLifetime properties (like color, opacity, size, angle). Stupid GLSL doesn't like non-constants in loops. Might be able to work around it but would need to build shaders dynamically and don't want to go down that route just yet!

Some good news, thou

[2015-10-09 01:32] titansoftime commented on #75
That is stupid.

Hazaa!

[2015-10-09 09:15] squarefeet commented on #75
Stupid, but it makes sense when you consider how it's compiled. Finger's crossed!

[2015-10-10 02:04] squarefeet commented on #75
Quick update on the rewrite:

Done
-------

* Particles are being drawn (!)
* Forces (`velocity`, `acceleration`, and a new one: `drag`) are integrated as per current version. Should mean behaviour is consistent when switching to this new version.
* Added new `drag` parameter. Reduces velocity of a particle over it's lifetime according to float value between `0.0` and `1.0` (clamped if < 0 or > 1)

[2015-10-10 02:47] titansoftime commented on #75
I cannot wait to try this out!

[2015-10-12 01:24] squarefeet commented on #75
**Update Time!**

**Done**
* Emitting behaviour is in place and stable. Bit neater than previously.
* `maxAge` is now a per-particle `SPE.Emitter` property, and supports spread values (meaning each particle can have its own maximum age).
* Added rotation support, with `axis` (Vector3), `angle`, `angleSpread`, `speed` and `speedSpread`. Emitters can now be rotated around an arbitrary axis, either s

[2015-10-12 02:42] titansoftime commented on #75
Hell yea man, awesome!

[2015-10-12 08:04] glibersat commented on #75
Waho, thank you so much for the work! Can't wait for the beta build :) Cheers!

[2015-10-12 23:10] squarefeet commented on #75
Update time!
-----------------

**Done**
* Added [documentation](https://github.com/squarefeet/ShaderParticleEngine/tree/dev/typedSrc/docs) (yay). Incomplete, but is a good start.
* Fixed up issues with `SPE.Emitter.rotation` values in the shader.
* Correctly calculate particle `drag` amount in the shader.
* Allowed for an emitter's `rotation` to be static, or applied over a particle's lifetime.
*

[2015-10-13 03:22] titansoftime commented on #75
Super excited for this!

[2015-10-13 19:14] squarefeet commented on #75
Once I've got this new version feature-complete, I'm thinking about adding support for texture sprites that would animate over time... Sound good?

[2015-10-13 20:09] titansoftime commented on #75
Sounds cool =]

[2015-10-13 22:32] squarefeet commented on #75
**Update time, and first r72-supporting beta release!**

**Done**
* Added remaining SPE.Emitter functions. SPE.Emitter is now feature complete (currently a bug with re-randomising particles, but I know the cause so will be fixed ASAP, and no DISC distribution support yet).
* Added remaining SPE.Group functions. SPE.Group is now feature complete.
* Added `activeMultiplier` to SPE.Emitter options th

[2015-10-13 22:35] squarefeet commented on #74
Hey @AndyTyurin,

Huge apologies for the massive delay in getting back to you on this! I didn't incorporate it at the time because I was planning a rewrite, and a fair bit might change. The rewrite is almost done now (see #75), so when the new version is fully complete and I get a sec, I'll grab your `spe-declaration`, update it, and whack it in the repo (with full credits, and your permission of

[2015-10-13 22:36] squarefeet commented on #61
Fixed in 1.0.0 beta. See #75.

[2015-10-13 22:36] #61 closed

[2015-10-14 04:19] titansoftime commented on #75
WOOOOOOOO!!!!!!!!!!!!

Very nicely done! The integration was seamless. It took about 10 minutes. Much cleaner API. So far (I've done only minor testing) everything looks good =]

[2015-10-14 22:34] squarefeet commented on #75
Awesome, glad to hear it.

Will continue working on the runtime value changing, DISC distribution, then start on optimisation, then thorough testing. Once that's done, I daresay it'll be ready for release.

[2015-10-16 00:03] squarefeet commented on #75
**Super fun happy update time!**

**Done**
* Runtime parameter updates for `position`, `velocity`, `acceleration`, `drag`.
    * Other buffer attributes are currently being updated when parameters are changed (the difficult bit!), but no functions in `SPE.Emitter` to recalculate values yet (the easy bit).

**Todo**
* Test Emitter pooling.
* Add DISC distribution support.
* General optimisation.

*

[2015-10-16 12:37] squarefeet commented on #75
DISC distribution type is now supported.

[2015-10-16 22:50] titansoftime commented on #75
Nice!

One thing though: the new ``SPE.valueOverLifetimeLength: 3`` causes particles not to be visible (for me at least). Changeing the value back to 4 solves it.

[2015-10-16 22:51] squarefeet commented on #75
How odd. I did find a silly problem with my value-over-lifetime calculations in the shaders earlier, but fixed that (not on `dev` branch yet). Could you post up your emitter settings where you're seeing this issue, in a gist or something?

[2015-10-16 23:11] titansoftime commented on #75
I don't have much time at the moment, but I can do this:

[code]

[code]

[2015-10-16 23:26] squarefeet commented on #75
I've just pushed a new build to `dev`. Could you give it a whirl and let me know if it helps?

FYI: Not going to be able to do anything else on this until late on Sunday, so keep your existing version just in case!

[2015-10-17 04:18] titansoftime commented on #75
On this im getting an error: ``Uncaught ReferenceError: emitter is not defined``

here:

[code]

[2015-10-17 04:28] titansoftime commented on #75
Another thing:

After your update with the disc support, I am getting the error: ``Uncaught ReferenceError: paramsUpdateRange is not defined`` when removing a group from the scene.

This previously was not an issue.

This is my removal function:

[code]

[2015-10-17 08:16] squarefeet commented on #75
This is why I should've written unit tests first! Will get around to adding those asap.

In the meantime, I've pushed a new update that should fix your issues. Thanks for testing this for me, it's really appreciated :)

[2015-10-17 08:24] #47 closed

[2015-10-17 14:00] yisk commented on #75
Why do you use commas instead of semicolons? This is error-prone and confusing as shit.

[2015-10-17 15:29] squarefeet commented on #75
I like my vars to be declared at the top of functions, lets me know exactly what is defined, rather than having things declared throughout. Never had a problem with accidentally making global vars this way. Not confusing at all.

Potato potato. Tomato tomato.

[2015-10-17 16:41] yisk commented on #75
Okay, but
[code]

[2015-10-17 19:25] squarefeet commented on #75
Probably because it's still a beta. And semi colon in that scenario isn't necessary, unless followed by parentheses that would execute the function immediately. And that I rewrote this in ~a week in my spare time.

[2015-10-17 19:25] squarefeet commented on #75
Comma in that scenario is probs a typo, if that's what you're on about.

[2015-10-17 19:34] vincent-courtalon commented on #75
this new version look very good, thanks for the work. I have a little bit of time tomorrow so i will try to update my code to use this and i will give you feedback.

[2015-10-17 19:55] titansoftime commented on #75
Yea I noticed those to, Had to fix since I use an auto minify for all my scripts which require syntax perfection unfortunately heh. Not a big deal at all =]

[2015-10-17 20:06] squarefeet commented on #75
Yeah, I think what yisk is on about is commas after function closing brackets, which are typos, probs from a few copypastas pre-refactor. Stuff like that will be sorted out by the time it's released. Exactly what a beta is for - catch things I missed.

[2015-10-17 23:37] titansoftime commented on #75
Ok tried current dev build and:

``Uncaught ReferenceError: emitter is not defined``

[code]

[2015-10-18 00:38] squarefeet commented on #75
Crap. I need to stop rushing things out. I'll fix it up tomorrow eve. In the meantime, change `emitter` to `this` and all will be fine.

Apologies for these silly bugs; I'm going to slow things down a little from now on. Rushing fixes out never ends well, whether beta or not - I don't have time to fully test it  Hold fort for the next beta, it'll be a few days; no more hotfixes.

Also in the meant

[2015-10-19 01:00] squarefeet commented on #75
Had more time than I thought I'd have today, so managed to strike quite a few things off the list:

**Done**
* Linted src and added strict mode to functions.
* Removed *only* existing comma typo in the src code that @yisk pointed out.
* Added full JSDoc-based documentation (see new `docs` folder)
* Added annotated source (again, see `docs` folder)
* Added Travis CI (currently only checks `dev` bui

[2015-10-19 01:28] titansoftime commented on #75
Just tested, working great =]

[2015-10-19 20:03] squarefeet commented on #75
Fantastico. Will get docs up to scratch and finish testing, then hopefully promote to master soon :)

[2015-10-20 15:46] yisk commented on #75
I really need more examples of complex effects. The library is still far enough from using in production. Let's say I develop a Hearthstone-like CCG for web. How can I reach such effects like a glow around a custom shape? And what about user-defined particle behaviour? Are you consider it to be a bottleneck?

[2015-10-20 15:53] squarefeet commented on #75
Glow around a shape? Like [this](https://stemkoski.github.io/Three.js/Shader-Glow.html)?

If you could provide more information about what sort of 'complex effects' you are talking about then I'll be able to help you better.

You could always contribute to the library if you feel something is missing.

[2015-10-20 23:02] squarefeet commented on #75
**Update**

**Done**
* Testing
* Added `SPE.Group.dispose()`
* Optimised `SPE.Emitter.tick()`. It's ~15-20% faster now.
* Optimised rendering. Will only render sections of buffers in use.
* Fix for when `SPE.Emitter.particleCount` is `1`.

**Todo**
* Examples
* Migration docs
* Presets (low priority)
* Finish overview guide.

[2015-10-21 05:03] titansoftime commented on #75
Very nice, runs so good =]

[2015-10-22 22:59] squarefeet commented on #75
**Update**

Ran as many tests as I could think of and everything looked good so I promoted to master.

r72 support is live!

[2015-10-22 22:59] #75 closed

[2015-10-22 23:05] squarefeet commented on #66
Fixed in 1.0.0. See `scale` option for `SPE.Group` [here](https://squarefeet.github.io/ShaderParticleEngine/docs/api/global.html#GroupOptions)

[2015-10-22 23:05] #66 closed

[2015-10-22 23:08] squarefeet commented on #67
I've added support for emitter rotation in v1.0.0. See `rotation` options for `SPE.Emitter` [here](https://squarefeet.github.io/ShaderParticleEngine/docs/api/global.html#EmitterOptions)

[2015-10-22 23:08] #67 closed

[2015-10-22 23:09] #56 closed

[2015-10-22 23:09] #38 closed

[2015-10-22 23:20] squarefeet commented on #13
Fixed in v1.0.0.

[2015-10-22 23:20] #13 closed

[2015-10-22 23:22] squarefeet commented on #74
v1.0.0 is available on NPM!

https://www.npmjs.com/package/shader-particle-engine

[2015-10-22 23:22] #74 closed

[2015-10-22 23:44] #55 closed

[2015-10-23 06:26] titansoftime commented on #75
@squarefeet I will assume "Optimised rendering. Will only render sections of buffers in use." meant only rendering particles that are within view frustum. This in my opinion should be an optional thing for the user. There are cases (which I kinda discovered by accident) where a user would want particles from an out of view emitter to be shown, such as projected fire streams on a wide staircase for

[2015-10-23 09:23] squarefeet commented on #75
@titansoftime Not quite. Since three.is hates being given larger typed arrays to a buffer attribute than it was given before the scene was rendered (its fine with shrinking them!) I have to allocated memory/buffer sizes upfront. If you specify a larger buffer size (`SPE.Group`'s `maxParticles` option) than you use then it will only perform draw calls on the sections of the buffers you've used, rat

[2015-10-24 02:05] titansoftime commented on #75
Ah ok I see.

[2015-10-25 20:22] jungsosh opened #77 "alphaTest is not working and there is an error in the documentation"
In the API documentation, alphaTest is declared to be a boolean rather than a number.

More importantly (perhaps related?), in my testing, setting alphaTest to any value seems to not do anything. Using any texture with transparency, setting alphaTest to a value between [0,1] doesn't produce any differences in appearance. Unless alphaTest works differently than in regular three.js, I think somethin

[2015-10-25 21:56] jungsosh opened #78 "Using the rotation parameter of an emitter causes the position value to be multiplied by -1"
If you set a rotation about some axis and some angle, instead of being located at position (x,y,z), the emitter position becomes (-x,-y,-z) and the rotation is set about that point instead. The expected behavior would be the emitter position stays at (x,y,z), and it rotates about that point (since the default center point is the position).

[2015-10-25 22:13] squarefeet commented on #77
Hm, odd. I'll take a look, thanks for letting me know.

[2015-10-25 22:28] #77 closed

[2015-10-25 22:30] squarefeet commented on #77
Found the problem: I wasn't checking the alpha value against the `ALPHATEST` define in the shader, so nothing was happening. Silly, really.

Fixed now, though. Also updated the docs to fix the other issue you pointed out.

[2015-10-25 22:30] jungsosh commented on #78
Note, the fix for this is super easy. Just multiply the end result of getRotation in rotationFunctions by -1, and the issue seems to be fixed.

[2015-10-25 22:31] squarefeet commented on #78
Ha, just done that myself! I'll run a few tests and make sure it doesn't have any unexpected side effects :)

[2015-10-25 22:32] jungsosh commented on #78
Thanks for fixing this stuff super quick!

[2015-10-25 22:33] squarefeet commented on #78
No worries! The joys of having simple bugs combined with email notifications ;)

[2015-10-25 22:37] squarefeet commented on #78
Multiplying by -1.0 inverts the value of the forces being applied (velocity/acceleration)...

[2015-10-25 22:44] squarefeet commented on #78
Should be fixed now. Bumped to v1.0.1.

[2015-10-25 22:44] #78 closed

[2015-10-26 05:03] jungsosh opened #79 "SPE.valueOverLifetimeLength = 3 doesn't work"
According to the documentation, SPE.valueOverLifetimeLength should be >=3 or <=4, but setting it to 3 doesn't seem to work (i.e. no particles are emitted).

Also is it possible for values greater than 4 to work? I tried it for kicks, and it is (expectedly) buggy.

[2015-10-26 11:13] squarefeet commented on #79
Could you share your group and emitter settings, and the OS and browser version you're seeing the issue on?

[2015-10-26 14:20] jungsosh commented on #79
Simple group with everything default except texture, and then emitter with particle count 10, and a position value and size value (no arrays). Everything works when SPE.valueOverLifetimeLength = 4, but nothing happens when SPE.valueOverLifetimeLength = 3. This is on Chrome 46 in Windows using r72 three.js

[2015-10-26 14:54] squarefeet commented on #79
Could you paste the code here or in a gist?

[2015-10-26 15:30] jungsosh commented on #79
https://gist.github.com/jungsosh/3324838d0baa58e08d2e

You'll have to put a texture in loadTexture. valueOverLifetimeLength is set to 3 in that example.

[2015-10-26 15:33] squarefeet commented on #79
Brilliant, thanks. I'll have a look tonight and see what's going on.

[2015-10-26 20:37] jungsosh opened #80 "Emitter does not start at Position when a rotation center is defined, and multiple emitters attached to same group affect each other's rotation"
When an emitter has a position as well as a center of rotation defined, instead of starting from position and rotating around the center of rotation, the emitter starts from the inverse position and rotates. Probably related to the fix for #78

Sorry for making so many issues, I've just had a lot of time to mess around with the engine recently...

[2015-10-27 01:16] vincent-courtalon commented on #75
just a little followup. I finally managed to get time to update, and it was relatively straightforward (great job!). I must say i like the new way to configure emitters/group.
I will play with the parameters to try to get the same "visual" result as before, but it is already pretty close with a little tweaking. The "wiggle" parameters seem interesting to play with.

as a little bonus, since i just

[2015-10-27 01:24] titansoftime commented on #75
That's good news =]

[2015-10-27 01:27] squarefeet commented on #75
Tell me about it. I don't want to have to go through that re-write all over again!

Glad that it's working well for you, @vincent-courtalon. I tried to keep the force integration and various other calculations as close to the previous version as I could, so glad you only have to do a few tweaks.

Is r73 released already, then, or still in dev? Did I really take that long doing the re-write?!

By t

[2015-10-27 01:33] vincent-courtalon commented on #75
r73 is released, it is on the master branch.

Honestly i was surprised, i was planning to use r72, but when i checked on github, saw that r73 was just released a few days ago, so i thought that i might as well update directly to this version and see if it works.

[2015-10-27 01:34] squarefeet commented on #75
Wow, they don't hang around, do they? I'd best check the changelog...

[2015-10-27 01:34] titansoftime commented on #75
Same here.

[2015-10-27 01:37] squarefeet commented on #75
The only thing that stands out to me is this, on WebGLRenderer:

* Unified drawRange and group ranges.

I'll have to make sure it's still working as it was in r72 (I'm assuming so...)

[2015-10-27 05:18] jungsosh commented on #80
Sorry, also one more bug, if an emitter has a rotation, and then a second emitter is attached to the same group, it seems the second emitter is rotated even if it doesn't have a rotation.

See this gist: https://gist.github.com/jungsosh/c2c62fc54ae914d77232

The smoke1 emitter's (green one) velocity will flip when the smoke0 emitter's (red one) rotation is applied. Add your own texture to loadText

[2015-10-27 11:33] squarefeet commented on #80
Wow, that is... bizarre! Can't say I know why that's happening (as rotation is a per-particle parameter), but have reproduced it so hold tight for a fix!

[2015-10-27 12:03] #80 closed

[2015-10-27 12:17] squarefeet commented on #79
Hm, I've created the following test (based on your rotation gist), and set the valueOverLifetime to 3, but it works fine for me (OSX, Chrome latest): https://gist.github.com/squarefeet/608c0cd9ff02a60a1c2e

I'll try it on Win7 and see if that's the issue...

[2015-10-27 15:45] jungsosh commented on #79
I copied your code on my machine and still running into the same issue where setting valueOverLifetimeLength to 3 doesn't work, but 4 does... strange bug. I will try on OSX if I get the chance.

[2015-10-27 17:55] jungsosh opened #81 "Axis of rotation ignores signs"
When you set an axis of rotation, a rotation axis of (-1,1,0) behaves the same as (1,1,0). These should be two different axes, as they are not opposites of each other.

I think I've found the culprit. In getPackedRotationAxis, the absolute value of each component of the axis is taken, thus eliminating all signs. This is presumably done so that it can be packed as a color and then shipped into the

[2015-10-28 01:01] squarefeet commented on #81
You're nailing this! Thanks (no, really) for opening these bugs. Despite my testing, it's very difficult for me to use the library without thinking of what's going on 'under-the-hood', so difficult to catch these things.

Also thanks for giving possible solutions with your bug reports - super helpful.

I'll add this one to the list!

[2015-10-28 01:03] squarefeet commented on #79
Any errors in the console?

[2015-10-30 20:06] jungsosh commented on #79
Nope no console errors.

[2015-11-04 03:50] jungsosh opened #82 "radiusScale of position does not work because it is labelled incorrectly"
In the documentation, it states that position.radiusScale scales the radius, but the actual parsed property is position.scale. Either the documentation should be fixed to say position.scale, or change the code to pick up options.position.radiusScale instead of options.position.scale

[2015-11-14 15:14] squarefeet commented on #82
On it!

[2015-11-14 15:34] #81 closed

[2015-11-14 15:34] #82 closed

[2015-11-16 22:26] SakyaStelios opened #84 "Issue with editor"
Greetings, I'm having some errors with the editor. The console outputs some messages:

    ReferenceError: SPE is not defined
    CONFIG.editor.js:222:3
    TypeError: CONFIG.editor is undefined
    CONFIG.settings-panel.js:24:13
    THREE.WebGLRenderer 71 THREE-r71.min.js:523:216
    ReferenceError: SPE is not defined

[2015-11-19 05:25] Andy888855 opened #85 "Duration ignored when using pools"
Hello,

I tried the engine, I like the idea, but I found some bugs that stop me from using it in my game. One of them is that emitter's duration seems to be ignored when using emitters pools. I changed duration to "duration: 10000" in emitterSettings in "pool.html" example, but emitters still produce particles for no longer then one second.

[2015-11-19 05:33] Andy888855 opened #86 "Drag is not working"
Looks like drag don't affect particle motion. I expect value of 0 to be no drag and 1 to be absolute drag (immidiatly kills any velocity and acceleration), but neither 0 nor 1 has any effect.

[2016-01-09 00:44] FabienMotte opened #87 "'Main' field in package.json is incorrect"
I think the `main` field in `package.json` file is incorrect and should be set to `"main": "build/SPE.min.js"` to be able to use it as a NPM package.

Thanks !

[2016-01-15 15:15] verteAzur opened #89 "Particle position"
Hello squarefeet,
I wanted to thank you for your latest SPE work, it performs very well on all aspects.

This is not an issue per say, it is more a feature request or a question, but there is no way to contact you via email or other messaging tool. I have integrated your library into a video game and would like to know if there is a way to access a particle position at any given time in order to i

[2016-01-27 22:57] phoenixinwater opened #90 "SPE only displays on one view out of multiple"
Hi, I am attempting to combine this example: http://threejs.org/examples/webgl_multiple_views.html with the SPE explosion example, however the particles only appear on the first view instance. Is this by design or an error on my part? Would you be able to provide any guidance in doing this?

Thank you for the SPE tool, I have enjoyed using it.

[2016-02-09 14:10] RemusMar opened #91 "SPE and THREE r74"
Hi Luke,

Any chance to make SPE compatible with the latest THREE release (74) ?

cheers

[2016-02-11 09:30] RemusMar commented on #91
I was able to sort them up (many syntax changes), but the old bug is back:
https://github.com/squarefeet/ShaderParticleEngine/issues/72
Long story short:
If you change the "emitter.size.value" at runtime, the value is NOT changed for the current particles.
Only for the upcoming ones!

[2016-02-15 16:31] squarefeet commented on #91
Hey @RemusMar,

What changes did you make to support r74? I'm awaiting the changelog for this release before making any changes to SPE.

I'll look into the size issue but can't guarantee anything!

[2016-02-15 16:38] squarefeet commented on #89
Unfortunately not, @verteAzur. The calculations for a particle's position are all stateless (meaning that for each frame, the position of a particle is re-calculated based on its age as opposed to storing the position after each frame and then adding forces to it before saving it again). Because it's stateless, there's no actual position to look up. I'm not very good at describing things, so [here

[2016-02-15 16:38] #89 closed

[2016-02-15 16:38] squarefeet commented on #87
Ah silly me. Thanks, Fabien. I'll integrate your PR in the next release.

[2016-02-15 16:38] #87 closed

[2016-02-15 16:40] squarefeet commented on #90
Hey @phoenixinwater,

I can't say that I've ever tried using this lib in multiple views. Do you have a codepen, jsfiddle, or some code sample I could look at to see if I can figure out what's going on here?

[2016-02-15 17:18] RemusMar commented on #91
Hi Luke,

Not a single change in the current SPE !!!
I found solutions for everything.
As for changing the emiter.size.value at runtime, that is not needed anymore.
I found another approach with perfect results:
		group.scale = group.uniforms.scale.value = 300 * 'runtime value';

http://necromanthus.com/Test/html5/testA.html
Take a look at the "steam" sources and press the right mouse button a few

[2016-02-15 19:20] RemusMar commented on #91
Luke,
SPE rocks!
Check out this realistic fire source:
http://necromanthus.com/Test/html5/testA_fire.html
cheers

[2016-02-16 08:47] squarefeet commented on #91
Ha, thanks :) Looking good!

[2016-02-16 11:21] verteAzur commented on #89
Thank you for your detailed reply... It makes sense. Please keep in mind this function/feature would make a huge difference in today gaming market. I was really pleased to just "plug and play" your library into the game engine. A pretty rare things these days. I guess you give someone a hand he'll want the whole arm ;) Anyway, thanks again for that great piece of code!

[2016-02-16 11:59] squarefeet commented on #89
No worries, glad you're enjoying the library! Having the ability to lookup particle positions is definitely something that's on the roadmap in my head - I've actually got a few versions knocking around that use FBOs but they're _very_ far from being production ready! One day...

[2016-02-16 16:36] deejbee opened #92 "Can't get angle to work with texture"
Hi- emitter.angle doesn't seem to have any effect when I use a texture.  I notice that the docs says it does not work when using a sprite sheet but I'm just using a texture.  Is that supported or am I doing anything wrong?

[2016-02-23 12:13] squarefeet commented on #92
Hm, that's odd. Let me have a look (I'll make an example for you if it's not broken; fix it otherwise), and I'll get back to you!

[2016-02-23 12:13] #91 closed

[2016-02-23 12:14] squarefeet commented on #85
Ah, that's probably an oversight on my behalf – I'll add it to the list :)

[2016-02-23 12:15] squarefeet commented on #86
It was working the last time I checked, but I'll double-back and make sure it's still the case. If it is working, then I'll put together a little example for you that you can try on your machine and see if it works for you, too.

[2016-02-28 00:31] verteAzur commented on #89
Cool, it is a sure thing! Keep me in the loop if you need someone for
testing or doing other stuff...

Not to change subject, I have gone far into the development of a game
engine that uses 99% open source tech. I am really thinking about sharing
that code the same way you did via an unified system I have developed for
the past 15 years. It is a web 2.0 system with 3D, I like to call it web
3.0 or

[2016-03-13 02:44] mlsteele opened #93 "Blue channel of color is ignored."
I'm trying to create some particles and I'm finding that the blue channel of color is being ignored. As if it were zero. Putting in white gives orange, putting in blue gives nothing, putting in green gives green.

Am I doing this right? The below code yields entirely green particles where I would expect cyan.

[code]

[2016-03-13 11:35] squarefeet commented on #84
Hi @SakyaStelios, I'm afraid the Editor only supported older versions of the engine. It's on my (very long list) of things to fix :)

[2016-03-13 12:09] squarefeet commented on #93
Everything looks okay, except you're not giving a texture to the particleGroup.

I've made a fiddle to make sure the blue channel is being picked up, and it's fine for me: https://jsfiddle.net/hv50vp48/5/

Let me know what you see when you run that.

[2016-03-16 04:11] DelvarWorld opened #94 "npm build broken/outdated"
The latest version of [shader-particle-engine on npm](https://www.npmjs.com/package/shader-particle-engine) has outdated source code (and maybe code that never worked?) The main file points to a grunt build script

[code]

[2016-03-16 05:02] DelvarWorld opened #95 "Latest master npm build broken because implicit THREE global is used"
This is different from #94

Using the latest build on master:

[code]

Currently [the compiled main distributed source code](https://github.com/squarefeet/ShaderParticleEngine/blob/master/build/SPE.min.js) uses an implied global THREE.

In the source code I think three should be required with commonjs syntax and included in package.json as a peerDependency. Or you could go the route taken by the [

[2016-03-16 05:04] DelvarWorld opened #96 "Don't commit the build/ folder"
Git repos are mainly to version source code, not built/compiled code. There are many reasons for this, one of which is that the version history for a built file is irrelevant, only the source code history is relevant. I don't think the build folder should be committed and there are two easy changes to make:

For npm, we can use a prepublish script to build the package deliverables before publishin

[2016-03-16 08:31] RemusMar opened #97 "SPE and THREE r75"
This is more like an announcement:
the current SPE runs just fine on the latest THREE release.
http://necromanthus.com/Test/html5/testA.html

cheers

[2016-03-16 21:30] DelvarWorld opened #100 "Particle without texture shows texture"
I have an emitter that only has color in the constructor, but the particles have a texture used elsewhere in my game. I think it's just reading from the leftover render something buffer. Setting texture: null doesn't remove the texture from the particles.

[2016-03-16 21:53] DelvarWorld commented on #100
This isn't right. Looking for a workaround, which might mean a USE_TEXTURE define

[2016-03-16 22:23] DelvarWorld commented on #100
Oooooh I didn't realize that a texture was required. my bad. I just assumed it would be some kidn of glowing point without a texture specififed.

[2016-03-16 22:23] #100 closed

[2016-03-17 00:06] DelvarWorld commented on #11
I'm needing this functionality in my game - is this available at all on the latest master build?

If it's expensive and has to live in a branch, I think some kind of setter method would be useful here?

[2016-03-17 00:29] DelvarWorld commented on #11
Oh I see, I was confused about the syntax for this (couldn't find any documentation for it).

This is the correct syntax:

[code]

and not

[code]

and not the hack:

[code]

[2016-03-17 03:51] mlsteele commented on #93
You're right. The issue was that I had not included a texture at all.

That fiddle looks good to me, teal fountain. I added a texture to my program's ParticleGroup and that fixed the issue for me. Looks like this now:
[code]

I guess I just didn't realize that a texture is required. Perhaps it would be nice if that was more forcefully mentioned in the docs, perhaps [here](https://squarefeet.github

[2016-03-17 03:51] #93 closed

[2016-03-17 13:03] squarefeet commented on #97
Thanks for letting me know, @RemusMar :)

[2016-03-17 13:03] #97 closed

[2016-03-17 13:13] squarefeet commented on #95
This is fantastic, thanks Andrew!

A few points, though:

* I've been considering refactoring this to make use of ES6 (mainly classes, import declarations, etc.), which would help somewhat in fixing up the currently quite haphazard NPM implementation. ES6 support is now (IMO) good enough to warrant having a pure ES6 build, alongside a Babel-compiled ES5 version.

* I'm conscious of ensuring that t

[2016-03-17 13:16] squarefeet commented on #96
Sure, in an ideal world, the build folder wouldn't be part of the repo, and I agree re. the point of Git. If I can find a free, reliable CDN that would be willing to host this library, then I'll definitely go down that route. For now, though, I'm keeping the `build` folder as part of the repo.

It's just a matter of ensuring the built version is easily available, really; currently having it as par

[2016-03-17 13:16] #96 closed

[2016-03-17 13:17] #84 closed

[2016-03-17 13:28] squarefeet commented on #100
Ah, you stumbled upon something that I meant to sort out a while back: support for !texture.

Thanks for accidentally reminding me!

[2016-03-17 13:28] squarefeet opened #101 "Add support for textureless particles."

[2016-03-17 13:32] squarefeet commented on #92
Hey @deejbee,

Sorry for the delay! Finally got around to making you a quick JSFiddle to show how the angle is used. Could you test this and see if it works for you?

[Texture angle fiddle](https://jsfiddle.net/vkv5vvpz/1/).

Cheers!

[2016-03-17 13:35] squarefeet commented on #86
Ah, this will be down to the way I calculate drag, which may well be incorrect.

I'll have a look a the GLSL code that does this and see where it can be improved.

[2016-03-17 13:47] squarefeet commented on #85
Found the problem: there's a conflict between the `duration` and `maxAge` properties.

Say `duration.value` is set to 10, but `maxAge.value` is set to 1: the emitter will only emit for 1 second.
Setting `maxAge.value` to 10 also will fix the problem, but won't get the desired visual effect.

I'll see what's causing this!

[2016-03-17 14:07] squarefeet commented on #85
Found a fix, will push to master very shortly.

[2016-03-17 14:07] #85 closed

[2016-03-17 14:29] squarefeet commented on #86
Okay, so I've had a look at the calculation and the way it's implement and it's working as I intended.

For the drag effect, I followed the lead of [Unreal Engine's particle system's drag](https://docs.unrealengine.com/latest/INT/Engine/Rendering/ParticleSystems/Reference/Modules/Acceleration/index.html#drag). The drag video on that page (right click, and select 'loop' to see the effect properly!)

[2016-03-17 14:50] squarefeet commented on #85
Fix is in v1.0.5.

[2016-03-17 16:18] DelvarWorld commented on #95
It would be a very minor upgrade to switch from this to ES6 module classes, you'd just have to change the require() calls in here to import/export.

[2016-03-17 16:21] DelvarWorld commented on #95
Also whatever builds the distributed bundle that's put into `build/` will have the correct configuration to sort out the require() calls. npm users will use the normal entry flow and others will use the built file, which most js build tools now know how to work with commonjs

[2016-03-17 16:22] DelvarWorld commented on #96
You could try submitting a request to https://cdnjs.com/

You could also try github file uploads, I haven't worked with those yet.

[2016-03-17 19:40] DelvarWorld commented on #85
I'm seeing an issue where I'm destroying a group and emitter, and creating a new one with a new maxAge, but the maxAge is being ignored. Could this be related @squarefeet ?

[2016-03-17 19:42] DelvarWorld commented on #95
Also I see you pushed 1.0.5 to npm, I would suggest not pushing to npm until this problem is fixed, because this package still fails with the error in the original ticket

[2016-03-17 19:47] squarefeet commented on #85
Any chance you could put together a little JSFiddle? You could fork [this one](https://jsfiddle.net/vkv5vvpz/1/) as a base.

[2016-03-17 20:03] DelvarWorld commented on #85
@squarefeet oh this was my mistake, I was sending in the value as a string instead of a number. I think it would be nice if the ensure typed arg stuff logs warnings if you send non-undefined values that don't match the expected type. otherwise it just creates a lot of user confusion!

[2016-03-17 20:04] squarefeet commented on #85
Ah phew! Good call on the logging. I'll make a ticket for it.

[2016-03-17 20:05] squarefeet opened #102 "Ensure incorrect argument types are logged"
Eg. if a string is passed as a value when a number is expected, make sure the user knows.

[2016-04-05 13:54] lattwood opened #103 "New Bower Release"
Currently `bower.json` has a version of 1.0.0, and the version installed from bower is rather old as well.

[2016-04-07 01:15] DelvarWorld commented on #55
i'm running into this now - the whole emitter gets culled when the source goes off screen. was this issue actually resolved @squarefeet ?

[2016-04-07 20:31] DelvarWorld opened #104 "Circle emitter? (disc emitter where particles only appear on edge?)"
I'd like to create a particle emitter that is basically a circle - as in a disk emitter where particles only spawn at the outermost radius of the disc. Is that possible with the current API? The positionspread attribute seems to only be the upper and lower bounds on a random range.

[2016-04-07 20:39] DelvarWorld commented on #104
Nevermind, found what I was looking for in examples/distributions.html

[2016-04-07 20:39] #104 closed

[2016-04-08 12:26] squarefeet commented on #55
It was resolved in the previous version, but by the sounds of it, it's re-emerged in the rewrite.

You should be able to set the particle mesh to not be frustum culled and that'll sort it...

[2016-04-08 12:26] squarefeet commented on #103
Oh! Thanks for pointing that out, I'll fix it up :)

[2016-04-19 23:19] weiserhei opened #105 "Changing values at runtime"
I wanted to trigger a pool emitter using a position, documented [here](https://squarefeet.github.io/ShaderParticleEngine/docs/api/SPE.Group.html):
`triggerPoolEmitter(numEmitters, position)`

The position is updated, but I get strange particle culling. It seems the position value checked for culling is still at the old position. Looking at the source there is this:
https://github.com/squarefeet/Sh

[2016-04-24 06:23] freakypie opened #106 "Inclusion with other materials"
I import materials from collada, and whenever one of these is used, the particles disappear. Is there something that i need to do to make it work with other materials?

[2016-04-30 09:24] phoenixinwater commented on #90
Hey, I have made a test for multiple views with SPE on a different machine and have had no issues. Would you like me to create a jsfiddle?

Also, it may be related, what is the correct method of setting maxParticleCount for the groups?

[2016-04-30 22:31] weiserhei commented on #90
@phoenixinwater: you can set maxParticleCount like this:

    	var particleGroup = new SPE.Group({
    	    // ...
            maxParticleCount: 2500
    	});

[2016-05-01 10:12] phoenixinwater commented on #90
@weiserhei Cheers mate

[2016-05-02 18:04] Grajon opened #107 "no display on Firefox with Threejs r75 and r76"
Hi,

rendered scenes are correct on Chrome with Threejs r75 and r76, but nothing apears on Firefox (v48 dev, v47 dev  and v45)

same thing with the example named explosion

Thanks for your great work, and sorry for my bad english :)

[2016-05-02 19:19] #103 closed

[2016-05-02 19:19] squarefeet commented on #107
Does the same thing happen with Threejs r73?

I'll look into this, and thanks for letting me know.

[2016-05-02 19:28] squarefeet commented on #90
@phoenixinwater What are the differences between the two machines? Different OSes?

[2016-05-02 19:43] squarefeet commented on #105
About pool emitters and positions: I'll look into this!

----

For runtime changing of radius:

You should just be able to do the following, assuming `emitter` is an instance of `SPE.Emitter`:

[code]

[2016-05-02 21:21] Grajon commented on #107
Yes on Windows, 7 (32 and 64 bits with SP1) and XP SP3. Tomorrow I will made a test under Debian 8.2

I have not tested with threejs r73. And not all examples don't work, just some of them: explosion, fog and Emitter pooling.

I have made a smoke engine with your engine, it works well under Chrome and other webkit engines (like Opera), but not on FF (release, dev and aurora tested)

Thanks for you

[2016-05-03 02:12] phoenixinwater commented on #90
@squarefeet I don't have access to the machine I was having issues on atm, but only noticeable difference is that the one with the error had old intel integrated gfx

[2016-05-07 21:05] weiserhei opened #108 "Firefox 46 Emitter Pool not visible"
I noticed the emitter pool examples doesnt work with the latest Firefox 46.0 (on windows) anymore.
In particular these examples:
http://squarefeet.github.io/ShaderParticleEngine/examples/explosion.html
http://squarefeet.github.io/ShaderParticleEngine/examples/fog.html
http://squarefeet.github.io/ShaderParticleEngine/examples/pool.html

No particles visible, and no errors in the console. Im using T

[2016-05-17 07:57] RemusMar commented on #108
I don't have any issue with Firefox 46.0.1 and those examples.
You need to provide more details about your system (OS, graphics card, etc)

[2016-05-17 10:33] weiserhei commented on #108
**System spec**
Windows 10
Firefox 46.0.1
Geforce GTX 970

**Test case**
Three.js r76
SPE 1.0.5
All the examples in my first post dont show particles,
and also older [demos](http://weiserhei.github.io/threejs-experiments/christmas2015/) ive build that were working before.
In **Chrome** and **Edge** everything is still working.

![particles](https://cloud.githubusercontent.com/assets/7581732/153195

[2016-05-17 11:31] RemusMar commented on #108
Please test this benchmark with Firefox 46:
http://necromanthus.com/Test/html5/testA.html
You should see 4 particle emitters: 2x steam, fire and smoke

[2016-05-17 17:42] weiserhei commented on #108
Fire and smoke is visible, steam is not.

[2016-05-17 20:05] RemusMar commented on #108
Very hard to believe.
The smoke and the steam share the same resources (including the texture).

[2016-06-30 19:41] jhclaura opened #109 "Emitter duration alterable?"
First of all, thanks for the pleasant library!

A question about the duration of emitter: is it alterable during runtime? If I init the emitter with duration: 10, it kind of works when I change it to 1. But if the emitter is init with duration: 1, it's ignored when I set the number to 10. Is it a bug or is the emitter's duration just not alterable during runtime?

Thanks!

[2016-06-30 19:56] squarefeet commented on #109
By the sounds of it, it might be a bug. I'm really tied up at the moment so haven't had the time available to dedicate to this project - I'll try to have a quick look asap (hopefully over the next few days) to see if it's a bug or not. If not, then it's a feature I'd like to add, as it seems like it should be a thing.

You're welcome to delve in yourself and see if you can pick it apart if you'd l

[2016-06-30 19:56] squarefeet commented on #108
Any update on this @weiserhei?

[2016-06-30 19:57] squarefeet commented on #107
Hey @Grajon, sorry for being so tardy. Very busy with real life lately.

Interesting that removing the floor mesh fixes the issue on Win7... by the sounds of it, I'd put it down to either a ThreeJS issue or Firefox itself.

Are you still seeing problems with both the latest ThreeJS and latest Firefox releases?

[2016-06-30 19:59] squarefeet commented on #92
Closing due to inactivity.

[2016-06-30 19:59] #92 closed

[2016-06-30 20:00] squarefeet commented on #86
Closing due to inactivity.

[2016-06-30 20:00] #86 closed

[2016-06-30 21:30] weiserhei commented on #108
Firefox 47.0.1 here, problems "disappeared" on my demos. Closing this now.

[2016-06-30 21:30] #108 closed

[2016-07-12 14:48] msimpson opened #110 "NPM Build Assumes `window.THREE` Exists"
While this library has module loader support by way of:

[code]

Using `module.exports` to expose the SPE object is not sufficient without also requiring THREE as a dependency. Therefore, this library--always--needs to be shimmed to even function when loaded via NPM.

[2016-08-16 23:08] anothercoder2 opened #111 "Change position of the emitter?"
Is it possible to change the position of the emitter?
I tried changing the position of the emitter but it does not seem to work.
e.g
particleGroup.emitters[2].position.value.z = particleGroup.emitters[2].position.value.z +10;

The position value changes but there is no update on the screen.

[2016-08-17 16:17] umaar commented on #86
Thank you for the knowledge nuggets @squarefeet , this is a great and well thought out explanation.

[2016-08-23 18:45] mwcz commented on #111
Try this:

    particleGroup.emitters[2].position._value.z += 10;
    particleGroup.emitters[2].updateFlags.position = true;

[2016-08-23 18:51] mwcz opened #112 "Is there a maximum particle size?"
With `hasPerspective: true`, I found that I could fly the camera towards the particles and they would get bigger, up to a point.  I searched through the SPE code and couldn't find a maximum size enforced anywhere, but that does appear to be what I'm seeing.

What might cause particles to stop growing as the camera continues to approach it?

[2016-08-24 14:25] mwcz commented on #112
False alarm, I actually hit the maximum particle size allows by my hardware (or by WebGL, not sure).

[2016-08-24 14:25] #112 closed

[2016-09-09 05:51] #90 closed

[2016-09-18 17:19] korner-brazers opened #113 "The particles are not displayed when moving the camera"
Hi, I noticed a bug, if you move and rotate the camera in certain corners of the particles disappear from the screen.
I use EditorControls.js of three.js library and stir the particle at position 3000, 0, 300
If you move the camera at different positions and look at the particle appears this bug! Maybe something I forgot to add this real or a bug?

Here are a couple of screenshots.

![](http://dtf

[2016-09-18 17:24] squarefeet commented on #113
It's going to be difficult to reproduce this, could you make an online version (JSBin or similar) that I can look at?

[2016-09-18 18:35] korner-brazers commented on #113
Oh sure)
http://codepen.io/korner/pen/BLLNVX

[2016-09-23 23:17] dr2391 opened #114 "Random rotation of individual particles"
Hi, I'm having trouble figuring out how to give individual particles a random rotation direction and speed. Using Emitter.angle seems like I'm only able to set the rotation direction for all particles. The spread value is probably the answer but I'm not really sure of how to use it. Here's what I have:

`angle: {
    value: [ -Math.PI, Math.PI ],
    randomise: true,
}`

[2016-10-19 03:40] jhclaura commented on #111
This also happened to other parameters e.g. velocity, acceleration. Wonder what's the purpose of this safety measures? Performance?
It'd be useful if the change can take effect without setting the flags, so they can be animated with some Tweening libraries.

[2016-10-19 13:46] mwcz commented on #111
I'm sure you're right that performance is the reason.  it's a [dirty flag](http://gameprogrammingpatterns.com/dirty-flag.html).  threejs uses a similar pattern, it's just called `needsUpdate` instead.

I would guess that most tweening libraries would allow you to pass in an "onUpdate" function, within which you could set `updateFlags`.

[2016-10-23 19:25] mwcz commented on #114
I got something similar working with the following:

                angle: {
                    value: [0],
                    spread: [2*Math.PI, 0],
                },

Each particle is spawned with a random rotation between -2Pi..2Pi radians, then spends its life rotating back to 0 radians.

[2016-11-17 12:04] magisters-org opened #115 "THREE.BufferGeometry.computeBoundingSphere() Error in console"
Hello. I'm using your library in my project, and i want to say thank you very much! This is the best particle system solution for WebGL right now. But i have one trouble:
THREE.BufferGeometry.computeBoundingSphere(): Computed radius is NaN. The "position" attribute is likely to have NaN values. BufferGeometry
And i dont know how to find the cause of error. Can you help me?

[2017-01-10 14:51] dyh333 opened #116 "does any demo about rain or snow?"
hi, @squarefeet . I am learning your ParticleEngine repo. the examples are all cool, but would you please give a demo about rain or snow like stemkoski's this page?
https://github.com/stemkoski/stemkoski.github.com/blob/master/Three.js/Particle-Engine.html

thanks.

[2017-01-10 15:16] weiserhei commented on #116
This is my snow demo: http://weiserhei.github.io/threejs-experiments/christmas2015/
Its based roughly on stemkoski in a simple scene and the code is on github: https://github.com/weiserhei/threejs-experiments/blob/gh-pages/christmas2015/js/app/snowParticles.js

[2017-01-12 00:42] dyh333 commented on #116
@weiserhei  thanks. it works well.

[2017-01-13 15:46] rafaelcastrocouto commented on #113
Also happens in my project. How can we solve it?

[2017-01-13 17:18] rafaelcastrocouto opened #117 "glDrawArrays: attempt to access out of range vertices in attribute 0"
Every time I use `emitter.remove()` this warning appear in the console.
I don't know if there's a relation but after a couple new emitters, particles get messed around and don't behave as expected.

[2017-02-03 23:41] squarefeet commented on #115
HI @magisters-org,

Sorry for the late reply! Do you have some context around this issue or a stack trace I could look at?

[2017-02-03 23:41] #114 closed

[2017-02-03 23:45] squarefeet commented on #111
So I'm totally late to the party on this one, but if you're needing to update values in real time and the value you're changing is a property like `x` on `emitter.position.value`, then you need to re-trigger the setter for `emitter.position.value`.

The simplest way to do this is:

`emitter.position.value = emitter.position.value`.

It looks a bit silly, but it works! I'm finally giving the librar

[2017-02-03 23:45] #111 closed

[2017-02-03 23:46] squarefeet commented on #110
Thanks, I'm on it (finally).

[2017-02-03 23:47] #107 closed

[2017-02-04 00:08] squarefeet commented on #116
Hi @dyh333. To change texture at run-time, you'll have to do a few things. I'll give you an example below. I'm currently working on quite a few additions to this library (it's been a while!) and one of them will be a function on SPE.Group that will do this for you. In the meantime, to change a texture on a particleGroup once you've created it (and following your example above):

[code]

Hope that

[2017-02-04 00:08] #116 closed

[2017-02-04 00:34] squarefeet commented on #113
Could one of you try setting the following property on your group(s) and see if it fixes the issue?

`group.mesh.frustumCulled = false`

[2017-02-04 22:44] rafaelcastrocouto commented on #113
Yes @squarefeet it fixes the issue
http://codepen.io/rafaelcastrocouto/pen/jyKMYE
You can close it!

[2017-02-05 01:22] squarefeet commented on #113
Yay! Glad that worked, saves me a lot of digging around :)

[2017-02-05 01:22] #113 closed

[2017-02-06 00:03] dyh333 commented on #116
@squarefeet  thanks very much. i will try.

[2017-02-08 02:05] dyh333 commented on #116
@squarefeet
it works. thanks again.

[2017-02-08 10:13] squarefeet commented on #116
Ah good, glad it worked :)

[2017-02-08 19:00] allanbueno opened #119 "Examples don't work properly on Three.js r84"
This Particle Engine is awesome, but it is not working properly on Three.js r84.

When I tried to use the MultipleEmitters example with this version of Three.js, only one emitter is showed in the screen. There are other examples that don't work too, but I believe the problem is the same.

Thanks.

[2017-02-08 19:14] squarefeet commented on #119
I noticed this a few days ago when I started doing some other bugfixes. I know the problem and have a fix in place already, but won't get released for a week or so until the rest of it is ready.

Would it help you if I issued a hotfix to master?

[2017-02-08 20:36] allanbueno commented on #119
Thank you very much for replying so quickly.

Yes, a hotfix will be great to get it working sooner.

[2017-02-08 21:05] squarefeet commented on #119
Sure, I'll get one out as soon as I can :)

[2017-02-08 21:46] #110 closed

[2017-02-08 21:47] allanbueno commented on #119
OK, I will wait! Thanks again :)

[2017-02-08 21:50] squarefeet commented on #119
I figured since I have a few spare moments I'd be best getting it done, so v1.0.6 is ready for you on master. I've not published to NPM yet, so if you're needing it as an NPM module, I should have that ready soon.

Let me know if this fixes your issue!

[2017-02-08 21:59] allanbueno commented on #119
It is working perfectly now :)

Thank you again for replying and also for making this useful lib.

[2017-02-08 22:46] squarefeet commented on #119
Awesome, thanks!

[2017-02-08 22:46] #119 closed

[2017-03-04 18:09] OpherV commented on #55
I can definitely reproduce the issue - and the solution @squarefeet suggested works for me. Took me a while to find this thread though - perhaps keep the issue open? :)

[2017-03-07 10:48] squarefeet commented on #55
I'm keeping the issue closed, but I'll make a note to add it to the documentation.

[2017-03-07 23:03] Usnul commented on #55
in case someone wants the cake and eat it too, here's what i do currently:
- keep culling on
- when emitter position changes - set bounding volume to infinite size (never culled basically)
- when enough time since last position change passes for all particles to have died from back then - compute bounding box based on physics (as in post earlier).

here are relevant snippets:

[code]
[code]

[2017-05-27 01:24] ruf-io commented on #117
I got the same thing, debugging now, will post if I find a fix

[2017-06-04 19:12] mixn commented on #105
Is there a way to update the position of a particular `emitter` by now? Would be awesome!

I’d love to display them all in the very center and make them spread further out after some interaction.

[2017-06-17 04:46] fatlinesofcode opened #122 "Postprocessing shader on Group"
I'd like to apply a postprocessing Shader to a SPE Group. The three.js bloom shader to be exact. I can do using EffectComposer on the Scene. However I only want to the shader to be applied to the SPE group not the whole Scene. Is there any other approach I could to apply the shader to the Group of particles only?

[2017-07-09 09:50] squarefeet commented on #122
Ah this is an interesting one.

You could render your SPE Group to an FBO (frame-buffer object), apply the post-processing, then combine that with your main render? The technique of using a frame-buffer-object is also called Render-To-Texture (RTT).

Just in case you're not familiar with it, FBO/RTT is the process of rendering to an image instead of the screen. There are plenty of articles/tutoria

[2017-07-09 09:50] #122 closed

[2017-07-09 09:51] squarefeet commented on #117
Sorry for the late response to this. I don't get much time to spend on this little project any more, but I've added this to the backlog so I'll hopefully start looking into this soon.

[2017-07-24 11:45] Friksel commented on #95
Having the same problem here using the NPM package 1.0.5 or 1.0.6. Would it be possible to push a version to NPM without the need for the THREE (and SPE?) globals?

[2017-10-06 21:26] zynga-jpetersen commented on #64
The link above for the typescript file (http://jppresents.net/static/files/ShaderParticles.d.ts) doesnt work any more, any chance you've got it around any more and can submit a pull request?

Thanks.

[2017-10-11 01:20] titansoftime commented on #105
+1 for the ability to re-position emitters at runtime. This would be SUPER cool.

[2017-10-11 23:06] zynga-jpetersen commented on #117
This issue get resolved? Thanks

[2017-10-14 13:48] etiennepinchon opened #123 "Prevent particles from following camera ?"
Hi!

Love this library so far but I have little issue with it, I cannot find a way to prevent the particles from rotating and tracking the camera when it moves.

I want the particles to stay in the same orientation, is it possible?

Thank you!

[2017-10-16 10:46] squarefeet commented on #123
Hi @etiennepinchon,

Do you mean that you wish the particles to not always face the camera? If so, then unfortunately that's not going to be possible. The particles are rendered as 'billboards' - these are 2D objects, not 3D, so can't be rotated in 3D space.

[2017-10-16 14:49] etiennepinchon commented on #123
Hi @squarefeet, thank you for you quick response!
Yes exactly what I wanted to do (similar to the things we can do with Unity)!

- Would it be possible to render the particles on a quad that would then be rotated?

Btw, your engine is by far the most advanced one I have seen on the web, really amazing work! 👍

[2017-10-16 14:56] squarefeet commented on #123
Thanks man :)

It's definitely possible, but it would require rewriting most of the library! Internally, the library uses a `THREE.Points` instance, which is what causes the billboard behaviour.

I daresay that if you wanted an adventure, you could replace `THREE.Points` with a constructor to render quads instead!

[2017-10-17 16:53] JasXSL commented on #105
I have the same issue. I'd like for the emitter to follow a moving object (but have the particles relative to world), so I'm updating the position at each frame. However, when I update the emitter position it gets screwed up, even if I'm updating to the same position.

<pre>
Emitter start settings:
{
	type: SPE.distributions.DISC,
	maxAge: {
		value: 1
	},
	position: {
		radius: 1,
		value : new T

[2017-10-25 16:10] titansoftime opened #124 "Group.removeEmitter Performance"
I have a particle group with 80 emitters attached (clouds). After an emitter has existed for about 3 minutes I remove the emitter. Unfortunately each ``Group.removeEmitter`` call takes between 200 - 300ms on my only 3 year old desktop. This of course freezes the app.

This is the culprit code (line 2260):

[code]

I can just comment this out and all "seems" fine, though I'm sure there is a resulti

[2017-10-26 22:15] squarefeet commented on #124
Ah, good find! I'm sure you can figure out what that code is doing (and why I thought it necessary). I'll experiment with some perf improvements and do some profiling. What's the longest you'd like it to take (on your current setup?) I'm assuming less than 1 frame, so 16ms at the abs max?

[2017-10-26 22:17] squarefeet commented on #105
Interesting, @JasXSL, thanks for the screenshots, super helpful.

I'll see if I can find the cause for it getting all out-of-alignment, and maybe find a way to fix this issue. It should currently be possible to change the position of an emitter by doing what you're doing, but it certainly shouldn't cause that weirdness!

It's on my list!

[2017-10-27 02:04] titansoftime commented on #124
I'm assuming that the code removes the buffer attributes from the particle group. So huge memory and rendering advantage to remove them.

Hmm, tricky as the operation needs to happen quite quickly, sometimes up to 30 emitters with roughly 300-400 particles per emitter get removed.

I suppose I could just stagger the removal of the emitters, set up some sort of garbage collection. Hmm...

[2017-10-27 10:58] squarefeet commented on #123
Closing this as mesh-based particles are out of scope for this project.

[2017-10-27 10:58] #123 closed

[2017-10-27 11:01] squarefeet commented on #124
@titansoftime Do you have an example of your use of this lib so I can try to reproduce it? Or could I just create 30 emitters with 300-400 particles and add/remove them to reproduce?

[2017-10-27 11:10] squarefeet commented on #105
@JasXSL I've managed to reproduce this, so give me a bit of time to see what's going on :)

[2017-11-09 22:55] cellman1234 opened #125 "Only 1st Group Updating"
Hi  Squarefeet!  First off: awesome library, been using it for a while and I love it :)

Unfortunately, I have recently encountered an issue where only the first `SPE.Group` instance created is updated / rendered.  I have a Fire function class with _this.group_ and _this.emitter_ set to a new group and emitter, respectively.  Whenever this is called, it adds the _this_ object  to a global array, w

[2017-11-10 23:14] cellman1234 commented on #125
Nevermind, it appears it was a problem with my code :) Lesson learned, never jump to conclusions...  It appears the problem was that when I was trying to update multiple groups / emitters per frame and calling `Clock.getDelta()` individually in the loop, then the delta time between the first group update and the second is zero; thus, only the first group updates.  By instead creating a local varia

[2017-11-10 23:14] #125 closed

[2017-11-17 19:38] titansoftime commented on #124
And finally.

http://jsfiddle.net/titansoftime/kr20tqo2/

[2017-11-21 17:15] squarefeet commented on #124
Awesome, thanks @titansoftime. I'll have a look as soon as I can!

[2017-12-09 18:39] code-matt opened #126 "frustumCulled = false should be mentioned in docs about pool emitters."
I am using the pool functionality for some rocket explosions. I was having very weird behavior where sometimes the particles would show up and sometimes not. After much trial and error, I realized they only worked if 0,0,0 was within my frustum

[code]
adding this before I add the mesh to the scene solved the issue for me

[2018-03-28 22:55] code-matt opened #127 "Would it be possible to have an option on groups/emitters to interpolate between positions ?"
https://gamedevelopment.tutsplus.com/tutorials/creating-smooth-particle-emission-with-sub-frame-interpolation--gamedev-10914

It's useful(required) for smoke trails on rockets and other moderately fast effects. I took a stab at adding it myself and failed miserably. Is this possible to add without adding too much of a performance hit?

I mean the world position, after attaching the emitter to a qu

[2018-06-11 07:29] awdng opened #128 "Emitter Pool not showing up sometimes"
First of all, thanks for this amazing library, exactly what I have been looking for, for a small personal game project.

I am trying to create explosions based on bullet collisions and used your EmitterPool example as a basis.
Collisions are detected correctly by the engine, but the explosion i create sometimes just does not show up. Weirdly from some positions it is always showing up, then does s

[2018-06-11 19:13] awdng commented on #128
After several hours of frustration i realised that this issue is related to the camera position and based on that i quickly found #55 and #51 referring to a problem with the frustum culling of the camera. In my case `particleGroup.mesh.frustumCulled = false;` fixed the problem.

[2018-06-11 19:13] #128 closed

[2018-07-21 02:31] rpsirois commented on #127
Hey man, does this help? https://github.com/squarefeet/ShaderParticleEngine/pull/129

[2018-07-22 17:16] code-matt commented on #127
I think it could be better option high speed straight kind of effects, like a some rocket trails. It would not work for something like a homing rocket.

I gave it a whirl, pretty cool except I think one would need to be able to do:

[code]

The same way we are able to update an emitters position. This way the start of the line could be kept behind the traveling object. Right now it stays in place

[2018-07-22 22:36] rpsirois commented on #127
Ah gotcha. I suggest just branching the code for yourself then and just
tweaking that part of it so it's customized for your own project.

On Sun, Jul 22, 2018, 11:16 AM code-matt <notifications@github.com> wrote:

[2018-12-09 21:02] JasXSL opened #130 "Adding & Removing emitters ad hoc causes particles to get stuck"
The sparkles on the keys in this pic get stuck after emitter.remove() is called:

![Stuck](https://i.imgur.com/VrY0rxj.png)

The following is executed when the page loads:

[code]

And the following when a key is pressed:
[code]

For now I can make a pool of emitters when the page loads and use those. But being able to add and remove emitters ad-hoc would be neat!

[2018-12-09 22:08] JasXSL commented on #111
A problem with this is that it seems to cause velocity to break, sending the particles flying in the direction of where they were first added.

[2019-01-17 09:37] DonWasyl opened #131 "Mask/ClippingPlanes for particles?"
I need to hide particles from specific coordinates. I'm trying to do is in many ways like:
`this.particleGroup.material.clipping = true;
this.particleGroup.material.clipIntersection = true;
this.particleGroup.material.opacity = 0.5;
this.particleGroup.material.needsUpdate = true;

this.particleGroup.material.clippingPlanes = [new THREE.Plane(new THREE.Vector3(1, 0, 0), 1);]`

This is possible or I

[2019-08-08 14:15] weiserhei opened #133 "No particles rendered when used with webpack"
Im trying to use the latest SPE from npmjs in a project that is bundled with webpack, including the latest three.js r107. For testing I pasted the official clouds example, but there are no particles rendered. There are no Errors in the console, but no particles on the screen either, so Im kind of stuck here.

Sidenote: I had to replace SPEs private copy of three.js inside its node_modules folder w

[2019-08-08 20:50] weiserhei commented on #133
It seems to me I cant use SPE with webpacks shimming, or atleast I need to learn some more shenanigans.
IMO this should work:
[code]
Which got me to the point where everything is compiling and running but no particles.

I went with throwing my THREE Instance into SPE by editing the source file:
`module.exports = function(THREE) { [spe.min.js content] return SPE;}`
And in my module:
`let SPE = spe.

[2019-08-14 23:04] weiserhei commented on #133
It turns out the shim does work, but SPEs dependency on three.js r84 is the next Problem. When overriding via package-lock.json with the current r107 its still not displaying particles., I guess this is because of webpack not giving SPE the same instance of three.js?

Removing SPEs dependency on three.js altogether in my package-lock.json is what Im running now, but this has to be reapplied on eve

[2020-06-28 01:18] titansoftime opened #134 "Three r118 Breaking Changes"
Three.js r118 creates a WebGL2 context by default. The name `texture` for a variable in webgl2 shader code is invalid as the function name `texture2D` was replaced by `texture`, making `texture` a reserved word that cannot be used as a variable.

In my local copy I just renamed `texture` to `tex`. Don't forget to update the uniform name in the js code as well.

Also `BufferAttribute.dynamic` has b

[2020-06-28 01:59] squarefeet commented on #134
Ah, thanks for letting me know. I'll try and find some time to push an update out soon... I've (rather shamefully) let this repo grow moss over the last few years.

Is this something that's blocking you?

[2020-06-28 02:02] squarefeet commented on #133
I'm going to reopen this as it's pretty important to remove this hardcoded dependency.

[2020-06-28 02:46] titansoftime commented on #134
No problem, man. Life happens.

It's a block if you want to use WebGL 2 context (which is default in the new 118 release of three.js).

Also the BufferAttribute.dynamic.true -> BufferAttribute.usage = THREE.DynamicDrawUsage seemed to fix some visual issues.

A real block was the issue at least worked around by  https://github.com/squarefeet/ShaderParticleEngine/pull/132 (this probably isn't the ri

[2020-06-28 18:09] RemusMar commented on #134
Hi guys,

You can find the fix here: https://github.com/RemusMar/ShaderParticleEngine

And here is a test with THREE r118: https://necromanthus.com/Test/html5/clouds.html

cheers

[2020-06-29 00:04] #134 closed

[2020-07-07 22:14] lonnietc opened #139 "Possible to emit spherical particles that are labeled?"
Hello,

I'm still new to Three.js and am looking at different implementations.

What I am trying to do is to have some spheres (particles) at different distances from the camera and each with a scaled label.  I would like to see if it would be possible to add scalable labels to a particle system.

Have also come across "CSS2DObject" and sprites but have not gotten them all figured out yet.

Any id

[2021-10-05 11:59] dax72 opened #146 "SPE broken on iOS15"
It does not work anymore and the issue is not related to three.js.
I checked a lot of examples and I can confirm that instead of particles you will see
big random squares.

Is there a solution to fix it?

[2021-10-29 08:03] mokny opened #147 "SPE broken on MacOS Monterey SAFARI Version 15.1 (17612.2.9.1.20)"
Loads of shader errors on mentioned Safari version

- WebGL: INVALID_OPERATION: useProgram: program not valid
- THREE.WebGLProgram: Shader Error 1282 - VALIDATE_STATUS false

[2021-12-01 22:01] ephb commented on #146
This seems to be fixed in iOS 15.2

[2022-04-12 13:44] grimdeathr opened #150 "Change particle emitter render order?"
rainEmitter = new SPE.Emitter({
      maxAge: {
          value: 20
      },
      position: {
              value: new THREE.Vector3(0, 20, -70),
              spread: new THREE.Vector3( 50, 0, 50 )
          },

      acceleration: {
              value: new THREE.Vector3(-10, -5, 0),
              spread: new THREE.Vector3( 0, 0, 20 )
          },

      velocity: {
              value: new THR